<div style="position: relative ;margin-top: -20px " >
  <div id="p1" class="row " style="background-color: #F6BA96 ">
    <div  class="col-lg-5 col-md-5 col-sm-5  " style="height: 800px">
      <div class="yGood1">
        <img class="img-responsive img-responsive block revealOnScroll" data-animation="fadeInLeft"  data-timeout="700"  src="../../../assets/ou-img/ou1.jpg" alt="...">
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2  tt1" style="height:800px ;background-color: #F6BA96" >
      <div class="n01"><img  src="../../../assets/ying-img/n01.png"></div>
      <div class="txt01">王鸥身穿白T恤和黑色牛仔裤低调到让人感受不到明星架子，比想象中瘦弱一些，却多了一份亲切感，温柔又坚定。<h1>’’</h1>
        日常生活中随意的穿搭透露出浓浓的邻家女孩的气息。作为模特出身的她完全没有浪费自己的身材优势，每件衣服都相当得体又时尚。
        <div class="small-txt" style="margin-top: 70px;margin-left: 0;padding-right: 10px">白色T-shirt H&M / 黑色蕾丝吊带 <br>/ 不规则格纹短裙 Sacai / 白色低跟鞋Giada / 珍珠耳环 DE YEEN</div>

      </div>

    </div >

    <div class="col-lg-5 col-md-5 col-sm-5  " style=" height:800px ;background-color:#DADBA2;padding-bottom: 90px ">
      <div class="oGood1" style="margin-top: 180px">
        <img class="img-responsive img-responsive block revealOnScroll"   data-animation="fadeInRight"  data-timeout="700" src="../../../assets/ou-img/ou2.jpg" alt="...">
          <ul>
            <li ><img class="img-responsive block revealOnScroll" data-animation="swing"  data-timeout="700"  src="../../../assets/ou-img/item1_01.png">
              <p><span>推荐搭配 <br>etoile Isabel Marant 不对称中长裙</span></p>
            </li>
            <li><img class="img-responsive block revealOnScroll" data-animation="swing"  data-timeout="700" src="../../../assets/ou-img/item1_03.png">
              <p> <span>推荐搭配 <br>牛仔外套 ALEXA CHUNG</span></p>
            </li>
            <li><img  class="img-responsive block revealOnScroll" data-animation="swing"  data-timeout="700" src="../../../assets/ou-img/item1_05.png">
              <p><span>推荐搭配 <br>Solid and Striped X STAUD 合作款连衣裙</span></p>
            </li>
          </ul>

      </div>
    </div>
  </div>
  <!--2-->
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-5" style="height: 820px;background-color: #D9C2B7">
      <div class="yGood2">
        <img class="img-responsive block revealOnScroll" data-animation="fadeInLeft"  data-timeout="700" src="../../../assets/ou-img/ou3.jpg" alt="...">
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 tt2" style="height: 820px;background-color:#D9C2B7 " >
      <div class="n02"><img class="block revealOnScroll"   data-animation="fadeInLeft"  data-timeout="700"  src="../../../assets/wu-img/n02.png"></div>
      <div class="txt02">随着《伪装者》与《琅琊榜》的热播，在两个剧中都演反派的广西妹子王鸥俘获了大量粉丝，
        同时她也是跟每一个男神都有交叉的人，惹得一众粉丝大呼羡慕，细看她的个人主页你就会发现，她绝对是一个时尚Icon，穿衣风格也绝对值得学习。<h1>’’</h1>
        <div class="small-txt" style="margin-top: 90px;margin-left: -15px">白色T-shirt H&M / 黑色蕾丝吊带 <br>/ 不规则格纹短裙 Sacai / 白色低跟鞋Giada / 珍珠耳环 DE YEEN</div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-5" style="height: 820px;background-color: #D9C2B7">
      <div class="oGood2">
        <img class="img-responsive block revealOnScroll"   data-animation="fadeInRight"  data-timeout="700" src="../../../assets/ou-img/ou4.jpg" alt="...">
        <ul>
          <li><img class="block revealOnScroll"   data-animation="fadeInLeft"  data-timeout="700" src="../../../assets/ou-img/item3_01.png"> <p> <span>推荐搭配 <br>白色T-shirt Acne Studios</span></p></li>
          <li><img class="block revealOnScroll"   data-animation="fadeInRight"  data-timeout="700" src="../../../assets/ou-img/item3_03.png"> <p> <span>推荐搭配 <br>By Malene Birger 拼接吊带背心</span></p></li>
          <li><img class="block revealOnScroll"   data-animation="fadeInLeft"  data-timeout="700" src="../../../assets/ou-img/item3_05.png"> <p> <span>推荐搭配 <br>不规则格纹短裙 Sacai</span></p></li>
        </ul>
      </div>
    </div>
  </div>

  <!--3-->
  <div class="ouBig">
    <div style="overflow: hidden" >
      <div class="col-lg-2  col-lg-push-2  col-md-3  col-md-push-2 col-sm-3  col-sm-push-2 "> <div class="text-div3">
        <div class="n03"><img src="../../../assets/ying-img/n03.png"></div>
        <div class="txt03">浪漫女人味的露背连衣裙Look把现场所有工作人员都惊艳到了，
          树荫下斑驳的阳光映照在王鸥的脸上，那一瞬间真的要被她美化了...... <h1>’’</h1>
          <div class="small-txt">露背印花连衣裙Salvatore Ferragamo  /  链条包包、丝带All from BVLGARI  /  高跟鞋 Jimmy Choo </div>
        </div>
      </div>
      </div>

        <div class="oGood3">
          <img class="img5-right img-responsive block revealOnScroll" data-animation="fadeInRight"  data-timeout="700" src="../../../assets/ou-img/ou5.jpg" alt="...">
          <ul>
            <li><img class="img-responsive block revealOnScroll" data-animation="swing"  data-timeout="700" src="../../../assets/ou-img/item2_01.png"><p> <span>推荐搭配 <br>链条包 BVLGARI</span></p></li>
            <li><img class="img-responsive block revealOnScroll" data-animation="swing"  data-timeout="700" src="../../../assets/ou-img/item2_03.png"><p> <span>推荐搭配 <br>黄色印花连衣裙 Saloni</span></p></li>
            <li><img class="img-responsive block revealOnScroll" data-animation="swing"  data-timeout="700" src="../../../assets/ou-img/item2_05.png"><p> <span>推荐搭配 <br>裸粉色印花连衣裙 See by Chloé </span></p></li>
          </ul>
        </div>
      <div class="bg3"> </div>
    </div>
  </div>

  <!--4-->

  <div class="ouBig2" style="overflow: hidden">
    <div class="col-lg-6" style="height: 900px;background-color: #A1A1A9">
      <div class="oGood4">
        <img class="img-responsive" src="../../../assets/ou-img/ou6.jpg" alt="...">
        <ul>
          <li><img class="img-responsive block revealOnScroll" data-animation="swing"  data-timeout="700" src="../../../assets/ou-img/item4_01.png"><p> <span>推荐搭配 <br>羊毛阔腿裤 FRAME</span></p></li>
          <li><img class="img-responsive block revealOnScroll" data-animation="swing"  data-timeout="700" src="../../../assets/ou-img/item4_03.png"><p> <span>推荐搭配 <br>单肩连衣裙 Topshop Unique</span></p></li>
          <li><img class="img-responsive block revealOnScroll" data-animation="swing"  data-timeout="700" src="../../../assets/ou-img/item4_05.png"><p> <span>推荐搭配 <br>阔腿裤 <br> Rejina Pyo</span></p></li>
        </ul>
      </div>
    </div>
  </div>


  <!--5-->
  <div style="overflow: hidden">
    <div class="col-lg-5 col-md-5 col-sm-5" style="height: 800px;background-color: #FBDB78">
        <div class="yGood4">
          <img class="block revealOnScroll"   data-animation="fadeInLeft"  data-timeout="700" src="../../../assets/ou-img/ou10.jpg" >
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 tt4" style="height: 800px;background-color: #FBDB78"><div class="n04"><img src="../../../assets/wu-img/n04.png"></div>
      <div class="txt04">黑色是一种诱惑的颜色，露肩的连身裙穿着王鸥身上，高挑的身材雪白的肌肤都能展现出女人的妩媚，
        搭配上帅气的阔腿裤，和性感兼并，这种美已经不是可以用任何词语来形容。<h1>''</h1>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5" style="height: 800px;background-color: #FBDB78">
     <img class="block revealOnScroll"   data-animation="fadeInLeft"  data-timeout="700" style="margin-right:0;margin-top: 164px " src="../../../assets/ou-img/ou11.jpg" >
      <img  class=" ouShow block revealOnScroll"   data-animation="fadeInRight"  data-timeout="700" src="../../../assets/ou-img/ou12.jpg">
      <a class="ouGood"><img class="block revealOnScroll"   data-animation="wobble"  data-timeout="700"  src="../../../assets/ou-img/item5_01.JPG"><p> <span>推荐搭配 <br>一字领条纹针织衫 <br> Topshop Unique</span></p></a>
    </div>

  </div>
  <div class="btm-txt">往期回顾</div>
  <div class="btm">
    <ul>
      <li ><a  (click)="ying()"><img src="../../../assets/ying-img/btmYing.jpg" ></a></li>
      <li><a (click)="wu()"><img src="../../../assets/wu-img/btmWu.jpg" ></a></li>
      <li><a  (click)="ou()"><img src="../../../assets/ou-img/btmOu.jpg" ></a></li>
    </ul>
  </div>


</div>
