<div style="position: relative ;margin-top: -20px" >
  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-5 " style="height: 800px;background-color: #F6BA96">
      <div class="yGood1">
        <img  class="img-y img-responsive" src="../../../assets/ying-img/ying2.jpg" alt="...">
        <ul>
          <li><img src="../../../assets/ying-img/ygood10.jpg"><p> <span>推荐搭配 <br>黑色墨镜 <br> BVLGARI</span></p></li>
          <li><img src="../../../assets/ying-img/ygood13.jpg"><p> <span>推荐搭配 <br>小香包   <br> BVLGARI</span></p></li>
          <li><img src="../../../assets/ying-img/ygood2.jpg"> <p> <span>推荐搭配 <br>蓝色外套 <br>BVLGARI</span></p></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 tt1 tt" style="height: 800px;background-color: #F6BA96" >
      <div class="n01"><img src="../../../assets/ying-img/n01.png"></div>
      <div class="txt01">出道10年来，赵丽颖从一个出身平凡的普通女孩，到初入演艺圈的新人演员，一步一步走到今天，成为备受瞩目的“收视女王”。<h1>’’</h1>
        她，不依附，不屈服，不畏缩。就像每一个平凡的女人，如果敢不服输，敢坚持，就能把自己的人生活出不平凡的模样。
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5 " style="height: 800px;background-color:#DADBA2 ">
      <div class="Good2" >
        <img class="img-w  img-responsive" src="../../../assets/ying-img/wu1-2.JPG" alt="...">
        <ul>
          <li><img src="../../../assets/wu-img/wu2-good1.JPG"><p> <span>推荐搭配 <br>春夏日时尚格子衬衫 LACOSTE</span></p></li>
          <li><img src="../../../assets/wu-img/wu2-good2.jpg"><p> <span>推荐搭配 <br>防偏振光彩色墨镜 Bolon</span></p>   </li>
        </ul>
      </div>
    </div>
  </div>

    <!--2-->
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-5" style="height: 800px;background-color: #D9C2B7">
        <div class="yGood2">
          <img  class="img-responsive" src="../../../assets/ying-img/ying9.jpg" alt="...">
          <ul>
            <li id="qun-good"><img src="../../../assets/ying-img/ygood.jpg"><p><span>推荐搭配 <br>刺绣露肩蕾丝连衣裙 BVLGARI</span></p></li>
            <li><img src="../../../assets/ying-img/ygood14.jpg"> <p> <span>推荐搭配 <br>精致手环<br>GUCCI</span></p></li>
            <li><img src="../../../assets/ying-img/ygood16.jpg"> <p> <span>推荐搭配 <br>链条包<br> COACH</span></p></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 tt tt2" >
        <div class="n02"><img src="../../../assets/wu-img/n02.png"></div>
        <div class="txt02">不管是田园甜美风还是轻熟名媛风，赵丽颖都能够好好掌握，<h1>’’</h1>可见女生穿衣搭配并不难，一件连衣裙就能帮你搞定！
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5" style="height: 800px;background-color:#D9C3B8 ">
        <div class="wGood2">
          <img class="img-responsive" src="../../../assets/wu-img/wu4.jpg" alt="...">
          <ul>
            <li id="yi_good"><img src="../../../assets/wu-img/good5.jpg"><p> <span>推荐搭配 <br>条纹图案潮牌卫衣<br> PALACE</span></p></li>
            <li><img src="../../../assets/wu-img/good6.jpg"><p> <span>推荐搭配 <br>金属圆环项链<br> SWAROVSKI</span></p></li>
            <li><img src="../../../assets/wu-img/good7.jpg"><p> <span>推荐搭配  <br>浪漫星月机械男表<br> EPOS-Emotion</span></p></li>
          </ul>
        </div>
      </div>
    </div>

    <!--3-->
  <div class="yingBig" style="overflow: hidden">
  <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-5 " style="height: 700px;">
        <div class="wGood3">
          <img  class="img-responsive" src="../../../assets/ying-img/ying14.jpg" alt="...">

        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 tt3 "> <div class="text-div3">
        <div class="n03"><img  src="../../../assets/ying-img/n03.png"></div>
        <div class="txt03">赵丽颖穿红色衬衫连衣裙现身，明艳动人。经典的白色翻领设计很好的修饰了颈部线条，
          胸前单排衣扣做了很好的点缀，灯笼袖俏皮可爱，腰部褶皱设计十分的修身显瘦，整体给人一种青春靓丽的感觉,很有女人味。
        </div>
      </div></div>
      <div class="col-lg-5 col-md-5 col-sm-5" style="margin-top: 100px">
        <div class="yGood3-1">
          <img src="../../../assets/ying-img/ying16.jpg" alt="...">
          <ul>
            <li><img src="../../../assets/ying-img/ygood18.jpg"><p> <span>推荐搭配 <br>单肩小白包<br> HERMES </span></p></li>
            <li id="qun-good2"><img src="../../../assets/ying-img/ygood17.jpg"><p><span>推荐搭配 <br>收腰红色A字连衣裙<br> CHANEL</span></p></li>
            <li id="ear-good"><img src="../../../assets/ying-img/ygood15.jpg"><p><span>推荐搭配 <br>链条包<br> BVLGARI</span></p></li>
          </ul>
        </div>
      </div>
    </div>
    </div>

<!--4-->

  <div class="yingBig2" style="overflow: hidden">
    <div class="col-lg-6 col-md-6 col-sm-6" style="height: 1200px;background-color: #758384">
      <div class="yGood3">
        <img class="img-responsive"  src="../../../assets/ying-img/ying17.jpg" alt="...">
        <ul>
          <li><img src="../../../assets/ying-img/ygood25.png"><p> <span>推荐搭配 <br>红色手包<br>Louis Vuitton </span></p></li>
          <li><img src="../../../assets/ying-img/ygood20.JPG"><p> <span>推荐搭配 <br>桃色耳钉 <br>BVLGARI</span></p></li>
          <li  id="yi_good2"><img src="../../../assets/ying-img/ygood21.JPG"><p><span>推荐搭配 <br>黑色手掌T恤 <br>GIVENCHY </span></p></li>
        </ul>
      </div>
    </div>
  </div>


  <!--5-->
    <div class="row" style="overflow: hidden">
      <div class="col-lg-5 col-md-5 col-sm-5" style="height: 800px;background-color: #6DC0AE">
        <div>
          <img class="img-responsive"  src="../../../assets/ying-img/ying19.jpg" >
          <div class="yGood4">

            <ul>
              <li><img src="../../../assets/ying-img/ygood24.JPG"><p> <span>推荐搭配 <br>白色运动卫衣<br> BVLGARI</span></p></li>
              <li><img src="../../../assets/ying-img/ygood23.JPG"><p> <span>推荐搭配 <br>雪花尾戒<br>GIVENCHY </span></p></li>
              <li><img src="../../../assets/ying-img/ygood22.JPG"><p> <span>推荐搭配 <br>金属圆框眼镜<br>BVLGARI</span></p></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 tt4" style="height: 800px;background-color: #6DC0AE"><div class="n04"><img src="../../../assets/wu-img/n04.png"></div>
        <div class="txt04">赵丽颖这样小巧可人的脸型画上两根粗眉，平衡了太过可爱而造成的时尚感缺失。<h1>’’</h1>
          E-shine携手赵丽颖，时尚服装界将掀起新一轮“带货”热潮。
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4" style="height: 800px;background-color: #6DC0AE">
        <img  class="img-responsive" src="../../../assets/wu-img/wu12.jpg">
        <a  class="wu-good-all"><img  src="../../../assets/wu-img/good16.jpg"><p> <span>推荐搭配 <br>吴亦凡同款套装 <br>
          亮片条纹T恤 <br>格纹宽松飞行夹克 <br>马勒包 、运动鞋 <br> Burberry</span></p></a>
      </div>
    </div>
  <div class="btm-txt">往期回顾</div>
  <div class="btm">
    <ul>
      <li ><a  (click)="ying()"><img src="../../../assets/ying-img/btmYing.jpg" ></a></li>
      <li><a (click)="wu()"><img src="../../../assets/wu-img/btmWu.jpg" ></a></li>
      <li><a  (click)="ou()"><img src="../../../assets/ou-img/btmOu.jpg" ></a></li>
    </ul>
  </div>
  </div>


