
.n01{
  width: 133px;
  height: 143px ;
  background: #DADBA2;
  text-align: center;
  line-height: 150px;
  box-sizing: border-box;
  border-bottom: 5px solid #fff;
}
.txt01{
  text-align: center;
  width: 133px;
  height: 400px;
  margin-top: 10px;
  background-color: #F6BA96;
  color:#FFFFFF;
}
 h1{
  display: block;
  font-size: 5vw;
  text-align: center;
}


.yGood1 ul{
  padding-left: 5px;
  position: absolute;
  top: 560px;
}
.yGood1 ul li{
  float: left;
  margin-left: 3px;
  list-style: none;
}
.yGood2 ul{
  left: 400px;
  position: absolute;
  top: 250px;
}
.yGood2 ul li{
  list-style: none;
  margin-top: 10px;
}
.n02{
  width: 133px;
  height: 143px ;
  margin-left: 100px;
  margin-top: 10px;
  background: #ABBBCA;
  line-height: 150px;}

.txt02{
  text-align: center;
  width: 150px;
  height: 400px;
  margin-top: 10px;
  color:#FFFFFF;
}
.wGood1 ul{
  margin-right: 20px;
  padding-left: 20px;
  margin-top: -320px;
  position: absolute;
}
.wGood1 ul li{
  margin-left: 360px;
  list-style: none;

}

.tt{
  height: 800px;
  background-color:#D9C2B7 }
.wGood2 ul{
  margin-right: 20px;
  padding-left: 20px;
}
.wGood2 ul li{
  float: left;
  margin-left: 10px;
  list-style: none;
}
.yingBig{
  width: 1448px;
  height:1300px;
  background-image: url("../../../assets/ying-img/ying20.jpg");
  background-attachment: fixed;
  /*background-repeat: no-repeat;*/
}
.yGood3 ul{
  top: 320px;
  left: 0;
  padding-left: 0;
  position: absolute;
}
.yGood3 ul li{
  margin-top: 10px;
  list-style: none;

}
.text-div3{
  position: absolute;
  z-index: 3;
  top: 100px;
}
.n03{
  width: 133px;
  height: 133px ;
  margin-left: -50px;
  margin-top: -100px;
  background: #b2b4d9;
  line-height: 133px;
  text-align: center;
position: absolute;

}

.txt03{
  border:solid 1px;
  background-color: #d93d79;
  text-align: center;
  width: 270px;
  height: 320px;
  padding:80px 20px  80px  20px;
  color:#FFFFFF;
}

.yingBig2{
  width: 1448px;
  height:1000px;
  background-image: url("../../../assets/ying-img/ying10.jpg");
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;

}

.yGood3 ul{
  left: 560px;
  position: absolute;
  top: 500px;
}
.yGood3 ul li{
  list-style: none;
  margin-top: 10px;
}

.n04{
  width: 133px;
  height: 143px ;
  margin-left: 100px;
  margin-top: 10px;
  background: #ABBBCA;
  line-height: 150px;}
.txt04{
  text-align: center;
  width: 150px;
  height: 400px;
  margin-top: 10px;
  color:#FFFFFF;
}
.yGood4 ul{
  left: 390px;
  position: absolute;
  top: 340px;
}
.yGood4 ul li{
  list-style: none;
  margin-top: 10px;
}
.wu-good-all{
  position: absolute;
  top: 480px;
  left:-250px;
}
