<div class=" body">
<div class="col-xs-12 col-sm-12 col-md-12" style="margin-top: -20px">
  <img class="img-responsive" src="../../assets/looks-loves-img/woman1.jpg">
</div>
<div class="row " style="height:150px;width:100%">
<div class="man fl" (click)="boys()"><a>男生爱搭</a></div>
<div class="woman fr" (click)="girls()"><a>女生爱搭 </a> </div>
</div>
  <div class="col-xs-12 col-sm-12 col-md-12"></div>
<div class="container">
  <div class="col-md-12" style="margin-bottom:30px">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <img class="img-responsive" src="../../assets/looks-loves-img/looks-man-big.jpg">
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <img class="img-responsive" src="../../assets/looks-loves-img/looks-woman-big.jpg">
    </div>
  </div>
  <div class=" col-xs-6 col-sm-6 col-md-6">
      <div class="looks-1">
        <a (click)="girls()"><img class="img-responsive" src="../../assets/looks-loves-img/looks-1.jpg"></a>
      </div>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6">
    <div><img class="img-responsive " src="../../assets/looks-loves-img/looks-man1.png"></div>
    <div class="looks-man">
      <div class="animated swing infinite look1">
        <h4 (click)="boys()">撩妹小能手</h4>
      </div>
      <span class="man1 man11">
      <span class="word1">春季型男</span>
      </span>
      <span class="man1 man12">
      <span  class="word1">小清新</span>
      </span>
      <span class="man2">
      <span class="word2">帅气校草</span>
      </span>
      <span class="man1 man13">
       <span class="word1">阳光男孩</span>
        </span>
    </div>

  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 foot2">
    <div class="col-md-12"style="text-align: center;color: white"><h2>搭配小能手</h2>
      <br>
      <h4>纯妹子的纯色LOOK搭配药丸包真是自带小清新，时髦又减龄两不误</h4></div>
    <div class="col-xs-1 col-sm-1 col-md-1 bg1"style="z-index: 1"><img  src="../../assets/looks-loves-img/bg2.png"></div>
    <div class="col-xs-5 col-sm-5 col-md-5" style="margin-top:40px;margin-left: -60px"><img class="img-responsive " src="../../assets/looks-loves-img/looks-woman.jpg"></div>
    <div class="col-xs-3 col-sm-3 col-md-3 bg2"style=""><img  src="../../assets/looks-loves-img/bg3.png"></div>
    <div class="col-xs-5 col-sm-5 col-md-5" style="margin-top: 40px;margin-left:20px">
      <div class="text col-xs-12 col-sm-12 col-md-12" #text style="margin-bottom: 0px"> <img class="img-responsive" src="../../assets/looks-loves-img/looks-woman-d1.jpg"></div>
      <div class="text col-xs-12 col-sm-12 col-md-12 dapei" style=""><h2>搭 配 灵 感</h2></div>
        <div class="col-xs-6"><img class="text  img-responsive fl" src="../../assets/looks-loves-img/looks-woman-d2.jpg"></div>
        <div class="col-xs-6"><img class="text img-responsive fr" src="../../assets/looks-loves-img/looks-woman-d3.jpg"></div>
    </div>
  </div>
</div>
</div>
