body{
  margin: 0px;
  padding: 0px;
}
#mycarousel img{
  margin: 0 auto;
}
#mycarousel{
  margin-top: -20px;
}
.man,.woman{
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 20px;
}
.woman{
  width: 90px;
  height: 30px;
  text-align: center;
  line-height: 24px;
  background-color: rgba(255, 75, 167, 0.65);
  border: solid 3px #ff4596;
}
.man{
  width: 90px;
  height: 30px;
  text-align: center;
  line-height: 24px;
  background-color: rgba(90, 90, 90, 0.65);
  border: solid 3px #010101;
}
.woman a{
  text-decoration: none;
  cursor: pointer;
  color: white;
}
.man a{
  color: white;
  cursor: pointer;
  text-decoration: none;

}
.row a{
  cursor: pointer;
}
.row{
  margin-top: 20px;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.looks-man span:hover{

  cursor: pointer;
}
.woman1{

}
#word11{
  background-color: rgba(153, 153, 153, 0.44);
  width: 100px;
  height: 150px;
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
}
.foot{
  width: 100%;
  height: 283px;
  background-color: black;
  text-align: center;
}
.foot1{
  width: 100%;
  height: 75px;
  background-color: black;
  text-align: center;
}
.animated-2x {
  animation-duration:.2s;
  animation-fill-mode: both;

}
/*.animated .infinite {*/
/*animation-iteration-count: infinite;*/
/*}*/
