.body{

  background-color: #fcd45a;

}
#mycarousel img{
  margin: 0 auto;
}
#mycarousel{
  margin-top: -20px;
}
.man,.woman{
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 20px;
}
.woman{
  width: 150px;
  height:50px;
  text-align: center;
  line-height: 50px;
  border:dashed 1px #ffe0e7;
  background-color: #ffe0e7;
  margin-right: 400px;
  margin-top:50px;

}
.man{
  width: 150px;
  height:50px;
  text-align: center;
  line-height: 50px;
  border:dashed 1px #ffe0e7;
  background-color: #ffe0e7;
  margin-left: 400px;
  margin-top:50px;
}
.woman:hover{
  cursor: pointer;
  background-color: white;
}
.man:hover{
  background-color: white;
  cursor: pointer;
}
.woman a{
  text-decoration: none;
  /*cursor: pointer;*/
  color: #ff4ba7;
}
.man a{
  color: #010101;
  /*cursor: pointer;*/
  text-decoration: none;

}
.looks-1{
  cursor: pointer;
}
/*.row a{*/
  /*cursor: pointer;*/
/*}*/
/*.row{*/
  /*margin-top: 20px;*/
/*}*/
.fl{
  float: left;
}
.fr{
  float: right;
}
.looks-man span:hover{
  cursor: pointer;
}
h4{
  padding-top: 5px;
  color:black;
  font-weight: 600;

}
.look1{
  text-align: center;
  line-height: 80px;
  cursor: pointer;
  width: 120px;
  height: 60px;
  border: double 6px #ff4ba7;
}
.woman1{

}
.word1{
  font-weight:600;
  background-color: rgba(255, 255, 255, 0.78);
  width: 100px;
  height: 150px;
  color: #000000;
  font-size: 20px;
  text-align: center;
  line-height: 150px;
  display: none;

}
.man1:hover .word1{
  display: block;
}
.word2{
  font-weight:600;
  background-color: rgba(255, 255, 255, 0.78);
  width: 150px;
  height: 254px;
  color: #000000;
  font-size: 20px;
  text-align: center;
  line-height: 254px;
  display: none;
}
.man2:hover .word2{
  display: block;
}
.foot{
  width: 100%;
  height: 283px;
  background-color: black;
  text-align: center;
}
.foot1{
  width: 100%;
  height: 75px;
  background-color: black;
  text-align: center;
}
/*.animated .infinite {*/
/*animation-iteration-count: infinite;*/
/*}*/
