<div class="body">
<div class="col-md-12 " style="margin-left:-280px;border-top:1px solid gray;margin-top: -20px"><img class="" src="../../assets/looks-loves-img/woman1.jpg"></div>
<div class="col-md-12 " style="background-color: #fcd45a;height:150px">
<div class=" man fl"><a (click)="boys()">男生爱搭</a></div>
<div class="woman fr"><a (click)="girls()">女生爱搭 </a> </div>
</div>
<div class="container">
  <div class="col-md-12" style="margin-bottom:30px">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <img class="img-responsive" src="../../assets/looks-loves-img/looks-man-big.jpg">

    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <img class="img-responsive" src="../../assets/looks-loves-img/looks-woman-big.jpg">
    </div>
  </div>

  <div class=" col-xs-12 col-sm-12 col-md-6">
    <div class="">
      <div style="margin-top: 10px"><a href="#"><img class="img-responsive" src="../../assets/looks-loves-img/looks-1.jpg"></a></div>
    </div>

  </div>
  <div class="col-xs-12 col-sm-12 col-md-6">
    <div><img class="img-responsive " src="../../assets/looks-loves-img/looks-man1.png"></div>
    <div class="looks-man " style="margin-left:0px;margin-top:25px;width:490px;height:260px">
      <div class=" animated-2x infinite rollIn" style="color: #46587a"><h4>撩妹小能手</h4></div>
      <span id="man1" style="background: url(../../assets/looks-loves-img/looks-man2.jpg);width: 100px;height: 150px;display:inline-block">
                    <div id="word11" class="word" style="position: absolute" hidden>春季型男</div>
                </span>
      <span id="man2" style="background: url(../../assets/looks-loves-img/looks-man4.jpg);width: 100px;height: 150px;display:inline-block">
                                        <div id="word2" class="word" style="position: absolute">小清新</div>

                </span>
      <span id="man3" style="background: url(../../assets/looks-loves-img/looks-man5.jpg);width: 150px;height: 254px;display:inline-block">
                                        <div id="word3" class="word" style="position: absolute">帅气校草</div>

                </span>
      <span id="man4" style="background: url(../../assets/looks-loves-img/looks-man6.jpg);width: 100px;height: 150px;display:inline-block">
                                        <div id="word4" class="word" style="position: absolute">阳光男孩</div>
                </span>
    </div>

  </div>
  <div class="col-md-12" style="background-color: #ff4ba7;height: 800px;margin-top: 30px;margin-bottom: 30px">
    <div class="col-md-12"style="text-align: center;color: white"><h2>搭配小能手</h2>
      <br>
      <h4>纯妹子的纯色LOOK搭配药丸包真是自带小清新，时髦又减龄两不误</h4></div>
    <div class="col-md-1 "style="z-index: 1"><img src="../../assets/looks-loves-img/bg2.png"></div>
    <div class="col-xs-12 col-sm-12 col-md-5" style="margin-top:40px;margin-left: -60px"><img src="../../assets/looks-loves-img/looks-woman.jpg"></div>
    <div class="col-md-3 "style="z-index: 1;margin-left: -180px;margin-top:250px"><img src="../../assets/looks-loves-img/bg3.png"></div>
    <div class="col-xs-12 col-sm-12 col-md-5" style="margin-top: 40px;margin-left:20px">
      <div class="text" #text style="margin-bottom: 0px"> <img src="../../assets/looks-loves-img/looks-woman-d1.jpg"></div>
      <div style="background: url(../../assets/looks-loves-img/bg1.png);width: 250px;height: 140px;margin-left: 70px;margin-top:-20px"><h2 style="padding-top: 40px;padding-left: 45px">搭 配 灵 感</h2></div>
      <div style="margin-top:0px">
        <img class="text" src="../../assets/looks-loves-img/looks-woman-d2.jpg">
        <img class="text" src="../../assets/looks-loves-img/looks-woman-d3.jpg">
      </div>
    </div>
  </div>
</div>
</div>
