.body{

  background-color: #fcd45a;

}
#mycarousel img{
  margin: 0 auto;
}
#mycarousel{
  margin-top: -20px;
}
.man,.woman{
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 20px;
}
.woman{
  width: 150px;
  height:50px;
  text-align: center;
  line-height: 50px;
  border:dashed 1px #ffe0e7;
  background-color: #ffe0e7;
  margin-right: 400px;
  margin-top:50px;

}
.man{
  width: 150px;
  height:50px;
  text-align: center;
  line-height: 50px;
  border:dashed 1px #ffe0e7;
  background-color: #ffe0e7;
  margin-left: 400px;
  margin-top:50px;
}
.woman a{
  text-decoration: none;
  cursor: pointer;
  color: #ff4ba7;
}
.man a{
  color: #010101;
  cursor: pointer;
  text-decoration: none;

}
.row a{
  cursor: pointer;
}
.row{
  margin-top: 20px;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.looks-man span:hover{

  cursor: pointer;
}
.woman1{

}
#word11{
  background-color: rgba(153, 153, 153, 0.44);
  width: 100px;
  height: 150px;
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
}
.foot{
  width: 100%;
  height: 283px;
  background-color: black;
  text-align: center;
}
.foot1{
  width: 100%;
  height: 75px;
  background-color: black;
  text-align: center;
}
.animated-2x {
  animation-duration:.2s;
  animation-fill-mode: both;

}
/*.animated .infinite {*/
/*animation-iteration-count: infinite;*/
/*}*/
