<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div id="comment_head">
        <span id="shine_id">E-shine支付</span>
        <span id="slide_id">
          <ul>
            <li class="slideCircle">1<p class="pur">购物车</p></li>
            <li class="slideLine"></li>
            <li class="slideLine"></li>
            <li class="slideCircle">2<p class="pur">确认订单</p></li>
            <li class="slideLine"></li>
            <li class="slideLine"></li>
            <li class="slideCircle">3<p class="pur">支付</p></li>
            <li class="slideLine"></li>
            <li class="slideLine" id="slideLine_id3"></li>
            <li>
            <img  class="slideCircle1" src="../../../assets/shopping_images/pay_images/gouzi.png" height="48" width="48"/>
              <p class="pur4">&nbsp;&nbsp;&nbsp;&nbsp;完成</p>
            </li>
          </ul>
        </span>
      </div>
      <div id="head_id">
        <p class="clothName">
          <span id="clothName_id">
            小清新可爱时尚大气潮流明星聚集
            <span id="clothNum_id">1件</span>
          </span>
        </p>
        <p class="cloth_time">请您于15:30:20分付款</p>
      </div>
      <div id="center_id">
        <span class="weixin_pay"><a>QQ支付</a></span>
        <span class="money">实付金额：<span>109.20元</span></span>
      </div>
      <div class="pay_module">
        <div class="pay_price">
          你需要支付总金额为：￥45</div>
        <ul class="pay_ways">
          <li>请用支付宝扫码支付<br>↓ </li>
          <li>&nbsp;&nbsp;&nbsp;请用电脑支付<br>&nbsp;&nbsp;↓</li>
          <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            请用微信扫码支付<br>&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;↓</li>
        </ul>
        <ul class="QR_code">
          <li class="code_picture">
            <img src="../../../assets/shopping_images/pay_images/weixin.png" height="234" width="228">
          </li>
          <li class="poza">
            <img src="../../../assets/shopping_images/pay_images/diannao.jpg" height="236" width="228">
            <input  class="confirm_final" type="button" value="确认并付款">
          </li>
          <li>
            <img src="../../../assets/shopping_images/pay_images/zhifubao.png" height="236" width="232">
          </li>

        </ul>

      </div>
    </div>
  </div>
</div>
