<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12">

<div id="con_id" class="con">

  <div id="confirm_address_id">选择收货地址</div>
  <div id="kuang">
    <div class="name_add">
      <ul class="information">
        <li class="name">樊苏琪
        </li>
        <li>------------------</li>
        <li class="address">
          江西科技师范大学红角洲校区学府大道589号
        </li>
        <li class="choice_place">江西省南昌市新建县城</li>
        <li class="telephone">15797717014</li>
      </ul>
    </div>
  </div>
  <div class="manage_address">
    <ul id="manage_address_id" >
      <li><a href="#">管理收货地址</a></li>
      <li><a id="useAddress">使用新地址</a>
      </li>
    </ul>
  </div>


  <div id="center_hidden_id" class="center_hidden">
      <div class="main_address">
        <ul>
          <li>
            <p  class="province">省:
              <span class="xinghao">*</span>
            </p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <select type="text" id="province_id" onchange="choise()">
              <option>请选择</option>
            </select>
          </li>
          <li>
            市：&nbsp;&nbsp;
            <select type="text" id="city_id"><option>请选择</option></select>
          </li>
          <li>
            区：&nbsp;&nbsp;
            <select type="text" id="area_id"><option>请选择</option></select>
          </li>
        </ul>
      </div>

      <ul class="postMail">
        <li class="postMail1">邮政编码:<span class="xinghao">*</span></li>
        <li>
          <input class="com_put" id="postMail_id" type="text">
        </li>
        <li id="confirm_postMail_id"></li>
      </ul>

      <ul class="street_address">
        <li class="street_address1">街道地址:<span class="xinghao">*</span></li>
        <li>
          <input class="com_put1" id="street_address_id" type="text">
        </li>
      </ul>
    <div class="address_tip">请填写街道地址，至少5个字</div>

      <ul class="consignee_name">
        <li class="consignee_name1">收货人姓名:<span class="xinghao">*</span></li>
        <li>
          <input  class="com_put" id="consignee_name_id" type="text">
        </li>
        <li id="confirm_name_id"></li>
      </ul>

      <ul class="consignee_tel">
        <li class="consignee_tel1">手机:<span class="xinghao">*</span></li>
        <li>
          <input class="com_put" id="consignee_tel_id" type="text">
        </li>
        <li id="confirm_tel_id"></li>
      </ul>

    <ul class="cancel_address">
      <input id="cancel_address_id" type="button" value="确认地址">
      <input id="cancel_address_id1" type="button" value="取消">
    </ul>

      </div>


  <div class="pay_module">
    <div class="pay_price">
      你需要支付总金额为：￥45</div>
    <ul class="pay_ways">
      <li>请用支付宝扫码支付<br>↓ </li>
      <li>&nbsp;&nbsp;&nbsp;请用电脑支付<br>&nbsp;&nbsp;↓</li>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        请用微信扫码支付<br>&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;↓</li>
    </ul>
    <ul class="QR_code">
      <li class="code_picture">
        <img src="../../../assets/shopping_images/pay_images/weixin.png" height="234" width="228">
      </li>
      <li>
        <img src="../../../assets/shopping_images/pay_images/diannao.jpg" height="236" width="232">
      </li>
      <li>
        <img src="../../../assets/shopping_images/pay_images/zhifubao.png" height="236" width="232">
      </li>
    </ul>
    <input  class="confirm_final" type="button" value="确认并付款">
  </div>


    </div>



    </div>
    </div>
  </div>


