.n01{
  width: 133px;
  height: 143px ;
  background: #d9c291;
  text-align: center;
  line-height: 150px;
  box-sizing: border-box;
  border-bottom: 5px solid #fff;
}
.txt01{
  text-align: center;
  width: 133px;
  height: 400px;
  margin-top: 10px;
  background-color: #C0B9AE ;
  color:#FFFFFF;
}
h1{
  display: block;
  font-size: 5vw;
  text-align: center;
}

.Good1 .img-y{
  margin-top: 20px;
  margin-left: 20px;
}
.Good1 ul{
  padding-left: 15px;
  position: absolute;
  top: 660px;
  left: 50px;
}
.Good1 ul li{
  float: left;
  margin-left: 6px;
  list-style: none;
}
.Good1 ul li img{
  width: 130px;
  height: 130px;
}
.Good1 ul li p{
  width: 130px;
  height: 130px;
  background: rgba(0, 0, 0, 0.68);
  position: absolute;
  margin-top:-130px;
  text-align: center;
  padding-top: 50px;
  color: white;
  display: none;
}
.w-img{
 margin-top: 60px;
  margin-left: 40px;
}
.Good2 ul{
margin-left: 0;
}
.Good2 ul li{
  float: left;
  margin-left: 5px;
  list-style: none;
}
.Good2 ul li p{
  width:140px;
  height:140px;
  background: rgba(0, 0, 0, 0.68);
  position: absolute;
  margin-top:-140px;
  text-align: center;
  padding-top: 50px;
  color: white;
  display: none;
}

@media screen and (max-width:992px ) {


}
@media screen and (max-width:768px ){

}
.n02{
  width: 133px;
  height: 143px ;
  margin-left: 100px;
  margin-top: 10px;
  background: #ABBBCA;
  line-height: 150px;}
.tt{
  height: 200px;
}
.txt02{
  text-align: center;
  width: 150px;
  height: 400px;
  margin-top: 10px;

  color:#FFFFFF;
}
.wGood1 ul{
margin-right: 20px;
  padding-left: 60px;
  margin-top: -320px;
  position: absolute;
}
.wGood1 ul li{
  margin-left: 360px;
  list-style: none;
}
.wGood1 ul li img{
  width: 140px;
  height: 140px;
}
.wGood1 ul li p{
  width: 140px;
  height: 140px;
  background: rgba(0, 0, 0, 0.68);
  position: absolute;
  margin-top:-140px;
  text-align: center;
  padding-top: 50px;
  color: white;
  display: none;
}
.Good1 ul li:hover p,.Good2 ul li:hover p,.wGood1 ul li:hover p,.wGood2 ul li:hover p,
.wGood3 ul li:hover p,.wGood4 ul li:hover p,.good-head:hover p,.wu-good-all:hover p{
  display: block;
  cursor: pointer;
}

.wGood2 ul{
  margin-right: 20px;
  padding-left: 20px;
}
.wGood2 ul li{
  float: left;
  margin-left: 10px;
  list-style: none;
}
.wGood2 ul li p{
  width:150px;
  height:151px;
  background: rgba(0, 0, 0, 0.68);
  position: absolute;
  margin-top:-151px;
  text-align: center;
  padding-top: 50px;
  color: white;
  display: none;
}

#yi_good p {
  width: 126px;
  height: 151px;
}
 .tt{
  height: 800px;
  background-color:#D9C2B7 }
.wuBig{
  position: relative;
  min-width: 1200px;
  overflow: hidden;
  background-size: cover;
  width: 1400px;
  height:1828px;
  background-image: url("../../../assets/wu-img/wubg.jpg");
  background-attachment: fixed;

}
.wGood8{
  margin-left: 750px;
}
.wGood3 ul{
  width: 200px;
  height: 480px;
  top: 200px;
  left: 480px;
position: absolute;

}
.wGood3 ul li{
margin-top: 10px;
  list-style: none;
}
.wGood3 ul li img{
  width: 130px;height: 140px;
}

.wGood3 ul li p{
  width:130px;
  height:140px;
  background: rgba(0, 0, 0, 0.68);
  position: absolute;
  margin-top:-140px;
  text-align: center;
  padding-top: 50px;
  color: white;
  display: none;
}

.wGood4 ul{
  width: 151px;
  height: 480px;
  top: 50px;
  left: -80px;
  position: absolute;

}
.wGood4 ul li{
  margin-top: 10px;
  list-style: none;
}
.wGood4 ul li img{
  width: 120px;
  height: 141px;
}
.wGood4 ul li p{
  width:120px;
  height:141px;
  background: rgba(0, 0, 0, 0.68);
  position: absolute;
  margin-top:-141px;
  text-align: center;
  padding-top: 50px;
  color: white;
  display: none;
}


.n03{
  width: 133px;
  height: 133px ;
  left: 830px;
  margin-top: -100px;
  background: #2576D1;
  line-height: 133px;
  text-align: center;
  position: absolute;

}

.txt03{
  border:solid 1px;
  background-color: #A3B2C9;
  text-align: center;
  width: 350px;
  height: 400px;

  padding:140px 20px  140px  20px;
  color:#FFFFFF;
}

.good-head{
  position: absolute;
  top:650px;
  left: 380px;
}

.good-head p{
  width: 200px;
  height: 152px;
  background: rgba(0, 0, 0, 0.68);
  position: absolute;
  margin-top:-152px;
  text-align: center;
  padding-top: 50px;
  color: white;
  display: none;
}
.n04{
  width: 133px;
  height: 143px ;
  margin-left: 100px;
  margin-top: 10px;
  background: #ABBBCA;
  line-height: 150px;}

.txt04{
  text-align: center;
  width: 150px;
  height: 400px;
  margin-top: 20px;
  margin-left: 80px;
  color:#FFFFFF;
}
.wu-good-all{
  position: absolute;
  top: 480px;
  left:-250px;
}
.wu-good-all p{
  width:314px;
  height:286px;
  background: rgba(0, 0, 0, 0.68);
  position: absolute;
  margin-top:-286px;
  text-align: center;
  padding-top: 50px;
  color: white;
  display: none;
}
.btm-txt{
  height: 120px;
  text-align: center;
  line-height: 120px;
  font-size: 36px;
  font-weight: 300}
.btm{
  max-width: 810px;
  height: 400px;
  margin: 0 auto;
}
.btm ul{
  list-style: none;
}
.btm ul li{
  list-style: none;
  float: left;
  margin-left: 20px;
}

a:hover{cursor: pointer}
