.title_shares{
  width:750px;
  height:20px;
  background-color: pink;
  margin-top:-15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:30px;
}
.line{
  margin-top:-65px;
}


#smallback{height:50px;
  background-color: red;
}
#big{
  margin-left:auto;
  margin-right: auto;
}
#backshow{
  width:400px;
  margin-bottom: 50px;
}
#container{
  height:auto;
  min-height:500px;
  border:1px solid rgba(255, 0, 0, 0.42);
  padding:20px;
}
#show{
  border:1px solid rgba(255, 255, 0, 0.38);
  height:auto;
  min-height:50px;
  margin-top: 20px;
}
#ever{
  margin-bottom:30px;
  background-color: rgba(255, 255, 0, 0.3);
  min-height:100px;
}
#num1{
  width:25px;
  border: none;
  text-align: center;
  background-color: transparent;
}
