#header{ width:70px;
  height:70px;
  position: relative;
  left:450px;
  background-color: grey;
  border-radius:40px;}

.change{
  width:180px;
  height:180px;
  margin-left:50px;
  position:absolute;
  top:0px;
  left:0px;
}
.tu{
  position:absolute;
  top:0px;
  left:0px;
  z-index:-1;
}
.dian{
  margin-top:35px;
  margin-left:15px;
  font-weight:600;
  height:20px;
  width:60px;
  font-size:8px;

  /*background-color: pink;*/
}
.wallpaper{
  width:110px;
  height:500px;
  opacity:0;
  position: absolute;
  top:56px;
  left:20px;}

#upload_file{
  z-index:2;
  border-radius:40px;
  width:70px;
  height:70px;
  display: block;
  position: relative;
  opacity: 0;
  background-color: yellow;
}
#preview{
  overflow:hidden;
  border-radius:70px;
  width:70px;
  height:70px;
  position:relative;
  top:-70px;
 }
#preview1{
  width:70px;
  height:70px;
}
.wallpaper ul{
  list-style: none;
  position: absolute;
}
.wallpaper li{
  margin-top:6px;
  margin-left:-15px;
}
.left_bizhi{
  width:170px;
  height:280px;
  position: relative;
  top:-720px;
  left:-215px;
}

.wallpaper p{
margin-left:-12px;

}
.wallpaper input{
  width:78px;
  height:30px;
  margin-left:-14px;
  margin-top:5px;
  border:1px solid grey;
  background-color: #FDFDFB;
}
.wallpaper input:hover{
  background-color: pink;
}
#bottom_id{
  margin-top:-25px;
}
.row{
  width:1000px;
  height:1000px;
  margin-left: auto;
  margin-right: auto;
  z-index:3;

}
#big{
  z-index:2;
  position: relative;
}
#wallpaper {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
  top: -1000px;
  left: 30px;
}

.big{
  width:700px;
  height:250px;
  position: relative;
  margin-left:auto;
  margin-right: auto;
}
.first{
  width:120px;
  height: 150px;
  margin-top: 40px;
  margin-left:40px;
  float: left;
}
p{
  color: #FDFDFB;
  text-align: center;
  margin-top:15px;

}
#suki{
  color: #FDFDFB;
  text-align: center;
  margin-top:18px;
}
h3{
  color: #FDFDFB;
  text-align: center;
}
#be{
  width:40px;
  height:35px;
  margin-left:40px;
  margin-top:20px;
  font-size:18px;
  line-height: 35px;
  color: black;
  background-color:white;
}
.first2{
  float:left;
  color: #FDFDFB;
  margin-left:15px;
  border:1px solid white;
  width:25px;
  height:30px;
  font-size:18px;
  line-height: 30px;
  text-align: center;
  margin-top: 15px;
}
.sencond{
  background-color: #FDFDFB;
  color: black;
  width:30px;
  height:25px;
  padding-left:8px;
  margin-left:45px;
}
.sencond1{
  position: absolute;
  top:146px;
}
.center{
  color: white;
  text-align: center;
}
.line{
  color: #1eabff;
  width:80px;
  margin-top:-10px;
  margin-left: auto;
  margin-right: auto;
}
.picture{
  width:60px;
  height:60px;
  border-radius:30px;
  border:1px solid #ababaa;
}
.icon{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  margin-top:20px;

  /*background-color: #1eabff;*/

}
.icon_first{
  float: left;
  padding-left:185px;
  margin-left:7px;

}
.icon_introduce{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
}
.icon_introduce1{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  height: 70px;

}
.icon_first_introduce{
  float: left;
  padding-left:183px;
  color:white;
  margin-top: 20px;

}
.icon_second{
  float: left;
  padding-left:187px;
  margin-left:5px;

}
.big_con{
  width:1400px;
  height:990px;
  overflow: hidden;
}
.confirm_pic{

}
