<!--<div class="container-fluid">-->
  <!--&lt;!&ndash;<form class="form-horizontal" id="upload_form">&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="file" id="upload_file"  name="user_icon">&ndash;&gt;-->
    <!--&lt;!&ndash;<div id="preview" ></div>&ndash;&gt;-->
  <!--&lt;!&ndash;</form>&ndash;&gt;-->
<!--</div>-->
<div class="big_con">
<div class="container" >
  <div class="row">

    <div id="big">
    <div class="col-md-12 col-lg-12">
      <div class="big">
        <div class="first">
          <div id="preview1"><img src="../../assets/icon/{{back[0].icon}}" ></div>
          <p id="suki">Wendy Suki<br>Web Designer</p>
        </div>
        <div class="first">
          <h3>Contact</h3>
          <p>1185745180@qq.com</p>
          <p>15797717014</p>
          <p>Richmond.China</p>
        </div>
        <div class="first">
          <h3>Follow</h3>
          <div class="first1">
            <div class="first2">f</div>
            <div class="first2">in</div>
            <div class="first2">@</div>
          </div>
          <div class="first1">
            <div class="first2">v</div>
            <div class="first2">G</div>
            <div class="first2">t</div>
          </div>
        </div>
        <div class="first">
          <h3>Visted</h3>
          <p id="be"><B>Be</B></p>
          <p class="sencond1">Follow my behance<br>listen</p>
        </div>
      </div>
  </div>
    <div class="col-md-12 col-lg-12">
    <h2 class="center">About Me</h2>
    <p class="line">_____</p>
      <div class="container-fluid">
      </div>
<div id="header">
      <form class="form-horizontal" id="upload_form">
        <input type="file" id="upload_file"  name="user_icon">
    <div id="preview">
      <img src="../../assets/icon/{{back[0].icon}}" >
    </div>
      </form>
</div>
  </div>
    <div class="col-md-12 col-lg-12">
      <div class="icon">
      <p class="icon_first">
        <img src="../../assets/personal_images/dingdan1.png" height="40" width="40">
      </p>
      <p class="icon_first">
        <img src="../../assets/personal_images/information1.png" height="45" width="45">
      </p>
      <p class="icon_first">
        <img src="../../assets/personal_images/address1.png" height="45" width="45">
      </p>
      </div>
    </div>
    <div class="col-md-12 col-lg-12">
      <div class="icon_introduce">
      <h5 class="icon_first_introduce">
      我的订单
      </h5>
      <h5 class="icon_first_introduce">
        &nbsp;&nbsp;&nbsp;消息
      </h5>
      <h5 class="icon_first_introduce">
        &nbsp;&nbsp;收货地址
      </h5>
      </div>
    </div>
      <div class="col-md-12 col-lg-12">
        <div class="icon">
      <p class="icon_second">
        <img src="../../assets/personal_images/pingjia1.png" height="50" width="50"/>
      </p>
      <p class="icon_second">
        <img src="../../assets/personal_images/shopping1.png" height="40" width="40"/>
      </p>
      <p class="icon_second">
        <img src="../../assets/personal_images/wuliu1.png" height="40" width="40"/>
      </p>
        </div>
    </div>
    <div class="col-md-12 col-lg-12">
      <div class="icon_introduce1">
        <h5 class="icon_first_introduce">
          &nbsp;&nbsp;&nbsp;&nbsp;评价
        </h5>
        <a routerLink="/shapping-car" routerLinkActive="active"><h5 class="icon_first_introduce">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;购物车
        </h5></a>
        <h5 class="icon_first_introduce">我的物流
        </h5>
      </div>
    </div>
    </div>

    <div class="col-md-12 col-lg-12">
      <div class="left_bizhi">
        <div class="change">
          <div class="dian">个性主题</div>
          <img  class="tu" src="../../assets/personal_images/dingdang2.jpg" height="80" width="80"/>
        </div>
        <div class="wallpaper">
          <ul id="wallpaper_id">
            <p class="top_arrow" (click)="top()">
              <img src="../../assets/personal_images/top_arrow.png" height="25" width="25">
            </p>
            <li *ngFor="let item of def;let index=index" (click)="dianji(index)">
              <img src="../../assets/personal_images/{{item}}" height="80" width="80">
            </li>
            <input class="confirm_pic"(click)="change()" type="button" value="确认" *ngIf=fsq>
            <p class="bottom_arrow" (click)="bottom()">
              <img  id="bottom_id" src="../../assets/personal_images/left_arrow.png" height="25" width="25">
            </p>

          </ul>
        </div>

      </div>
    </div>


      </div>
  <img id="wallpaper" src="../../assets/{{back[0].background}}">
    </div>
</div>




