.nav1{
  position: relative;
  top: -20px;
}
ul{
  padding-left:10px;
  margin-right: 30px;
}
ul a{
  color: black;
}

.nav{
  padding-left: 150px;
  margin-top: 20px;
  background:linear-gradient(90deg, rgba(6, 6, 6, 0.27) 25%, #ffffff 10%, rgba(6, 6, 6, 0.27) 2%,white);
  width: 650px;
}
.first{
  z-index: 3;
  right: 40px;
  position: relative;
  top: 30px;
  float: right;
  color: black;
  font-weight: 600;
  cursor: pointer;
}
ul .first:hover{
  background: none;
}
