<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="top">
        <ul class="Line1">
          <li>
            <input class="quan" id="quan_id" type="checkbox" (click)="quan(mes)">
            全选</li>
          <li>商品信息</li>
          <li>单价(元)</li>
          <li>数量    </li>
          <li>小计(元)</li>
          <li>操作</li>
        </ul>
      </div>
      <p></p>
      <div class="center" *ngFor="let mes1 of mes;let index=index">
        <ul class="Line2"  id="line_id">
          <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input id={{mes1.dan}} name="dang" type="checkbox" (click)="dan(index,mes)">
            <img  src="../../../assets/{{mes1.goodspic}}" height="70" width="41">
          </li>
          <li><a href="#">{{mes1.goodsname}}</a></li>
          <li id="singlePrice_id">{{mes1.goodsprice}}</li>
          <div class="jia_jian">
            <input type="button" id="jian_id"  value="-" (click)="les(index,mes)">
            <input type="text" id="shuzi_id" value={{mes1.shopsum}}>
            <input type="button" id="jia_id"  value="+" (click)="add(index,mes)">

          </div>
          <li id="price">{{mes1.total}}</li>
          <li class="del_line">
            <input type="button" class="del" id={{mes1.del}} value="删除" (click)="del(index,mes)">
          </li>
        </ul>
      </div>
      <div class="bottom">
        <ul class="Line_bottom">
          <li>
            <input class="quan" id="quan_id_bottom" type="checkbox">
            全选
          </li>
          <li><input type="button" id="total_del_id" value="删除"></li>
          <li >
            <span class="goods_num">共有<span id="goods_num_id">{{mes.length}}</span>件商品</span>
          </li>
          <li ><span class="sumPrice">总计￥:<span id="sumPrice_id">{{sum}}</span></span></li>
          <li>
            <input type="button"  id="pay_id" (click)="gopay()" value="去付款 &nbsp;>">
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
<a (click)="back()"><div style="float:right">返回</div></a>
