<div style="">
  <div class="container" style="margin-left:200px">
    <div class="row" >
    <div class="col-xs-4 col-sm-4 col-md-4 ">
      <img class="img-responsive" src="../../assets/looks-loves-img/love-1.jpg">
    </div>
    <div class="col-xs-7 col-sm-7 col-md-7">
      <a href="#" > <img src="../../assets/looks-loves-img/love-2.jpg"></a>
      <a href="#" > <img src="../../assets/looks-loves-img/love-3.jpg"></a>
      <a href="#" > <img src="../../assets/looks-loves-img/love-4.jpg"></a>
      <div  style="margin-top: 3px">
        <a href="#" > <img src="../../assets/looks-loves-img/love-5.jpg"></a>
        <a href="#" > <img src="../../assets/looks-loves-img/love-6.jpg"></a>
        <a href="#" > <img src="../../assets/looks-loves-img/love-7.jpg"></a>
      </div>
    </div>
    </div>
    <div class="yi col-md-12 col-md-offset-1">
      <ul *ngFor="let love of loves;let index=index">
        <li><img src="http://localhost:3000/images/{{love.goodspic}}" (click)="godetail(love.goodsid)"></li>
        <li>MyLove时尚{{love.goodsname}}</li>
        <li>￥{{love.goodsprice}} <span class="pra"><span id="{{index}}" class="xin" (click)="pra(index)"></span><span class="pra1">{{love.praise}}</span></span></li>
      </ul>
    </div>
  </div>
</div>
<div class="col-sm-12 col-md-6 " style="height:60px;margin-left: 35%">
  <a><input class="b" type="button" *ngFor="let item of number;let index=index" value="{{item}}"(click)="show(index)"></a>
</div>
