.navbar-header button{
  background-color: white;
}
.navbar-header .collapsed span{
  background-color: black;
}
.body{
  overflow-x: hidden;
}
.navbar-header a{
  color: #ababab;

}
#user_nav a{
  color: #ababab;

}
.ng1{
  color: #e0e0e0;
  background-color: #000000;
}
.ng2{
  background-color: rgba(226, 226, 226, 0.46);
}
.ng3 a{
  color: #ababab;
}
.ng4 a{
  color: #0b050e;
  font-weight: 400;
}
.ng3 li a:hover{
  color: white;
  background-color: #4d4d4d;
}
.dropdown{
  color: white;
  position: absolute;
  top: 100%;
  left: -10px;
  z-index: 1000;
  display: none;
  min-width: 80px;
  padding: 5px 0;
  font-size: 14px;
  text-align: center;
  list-style: none;
  background-color: #000000;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.d1{
  position: absolute;
left:-4px;
}
.nav > li:hover .dropdown {
  display: block;
}
.dropdown li{
  height: 40px;
  line-height: 40px;
}
.dropdown li:hover{
  cursor: pointer;
  background-color: rgba(165, 165, 165, 0.68);
}

#user_nav li{
  text-align: center;
  vertical-align: middle;
  margin-top:15px;
  color:white;
}
