<!--The content below is only a placeholder and can be replaced.-->
<div class="body" style="width: 100%">
<div class="logo2" style="text-align: center"><a href=""><img src="../assets/looks-loves-img/logo2.png"></a></div>
  <a id="title1" class="col-md-12"></a>
<nav id="fix1" class="navbar ng1" *ngIf="!_hiddenNavs">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-cloud">E-shine</span> </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav " style="margin-left: 200px">
        <li><a href="#" [routerLink]="['/index','我是默认值']" routerLinkActive="active">首页<span class="sr-only">(current)</span></a></li>
        <li><a href="#" routerLink="/looks" routerLinkActive="active">穿搭</a>
          <ul class="dropdown">
            <li routerLink="/boys">男生搭</li>
            <li routerLink="/girls">女生搭</li>
          </ul>
        </li>
        <li><a href="#" routerLink="/loves" routerLinkActive="active">情侣时光 <span class="glyphicon glyphicon-heart"></span> </a></li>
        <li><a href="#" routerLink="/fashion-week" routerLinkActive="active">时尚圈</a>
          <ul class="dropdown d1">
            <li routerLink="/fashion-week">秀场</li>
            <li routerLink="/fashion-wu">吴亦凡</li>
            <li routerLink="/fashion-ying">赵丽颖</li>
            <li routerLink="/fashion-ou">王鸥</li>
          </ul>
        </li>
        <li><a href="#" routerLink="/shares" routerLinkActive="active">分享</a></li>
        <li><a href="#" routerLink="/pay" routerLinkActive="active">付款</a></li>
        <li><a href="#" routerLink="/payto" routerLinkActive="active">付钱</a></li>
        <li><a href="#" routerLink="/shares-area" routerLinkActive="active">分享区</a></li>
        <li><a href="#" routerLink="/shapping-car" routerLinkActive="active">个人</a></li>


      </ul>
      <form class="navbar-form navbar-left" #appForm="ngForm">
        <div class="form-group">
          <input type="text" class="form-control" name="search" placeholder="Search" #sea="ngModel" [(ngModel)]="_sea" >
          <span class="glyphicon glyphicon-search btn btn-default" (click)="search(appForm)"></span>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right" id="user_nav">
          <li *ngIf=!tel style="float:right;"><span><a href="" routerLink="/login" routerLinkActive="active"> 登陆</a></span>
            &nbsp;&nbsp;
            <span> <a href="" routerLink="/regist" routerLinkActive="active"> 注册</a></span></li>
          <li *ngIf=tel style="float:right"><span><a href="" routerLink="/personal-center" routerLinkActive="active">欢迎:{{name}}
         </a> </span>&nbsp;<span><a href="#" (click)="end()" routerLink="/" routerLinkActive="active" >注销</a> </span></li>
      </ul>
    </div>
  </div>
</nav>
  <ul id="dock">
    <li id="links"><span class="fa fa-user"></span>
      <ul class="free">
        <li class="header"><a class="dock-keleyi-com">固定</a><a class="undock">隐藏</a></li>
        <div *ngIf=!tel>你还没有登陆呢~~~</div>
        <div *ngIf= tel><li><img class="img-circle" src="http://localhost:3000/uploads/icon/{{icon}}" width="100px"height="110px"></li>
        <li>用户名：<span>{{name}}</span></li></div>
        <li><button>我的订单</button></li>
      </ul>
    </li>
    <li id="files"><span class="fa fa-shopping-cart"></span>购物车
      <ul class="free" style="overflow-y: scroll">
        <li class="header"><a class="dock-keleyi-com">固定</a><a class="undock">隐藏</a></li>
        <li>我的购物车</li>
        <li *ngFor="let item of mes">
          <span><img width="80" height="120" (click)="goshop()" src="../assets/{{item.goodspic}}"></span>
          <span style="width: 80px;height: 50px;display: inline-block">{{item.goodsname}}</span>
        </li>
      </ul>
    </li>
    <li id="tools"><span class="fa fa-paw"></span>我的足迹
      <ul class="free">
        <li class="header"><a class="dock-keleyi-com">固定</a><a class="undock">隐藏</a>我的足迹</li>
        <li>
          <span><img width="80" height="120" src="../../server/public/images/girls-img/sweet1.jpg"></span>
          <span style="width: 80px;height: 50px;display: inline-block">仿棉麻面料 条纹衬衫...</span>
        </li>
      </ul>
    </li>
    <li id="top"><span class="fa fa-chevron-up"></span>顶部
    </li>
  </ul>
  <div class="row">
    <router-outlet #outlet>
    </router-outlet>
  </div>
  <div *ngIf="!_hiddenNavs">
  <div class="foot"><img src="../assets/looks-loves-img/foot.png"></div>
  <div class="foot1"><img src="../assets/looks-loves-img/foot1.png"></div>
  </div>
</div>
