<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="outer">
        <div class="left">

        </div>
        <div class="right">
          <div class="cname">
            <B>宿本秋装新款文艺流苏拼接衬衫裙显瘦中长款连衣<br>裙长袖直筒A字裙</B>
          </div>
          <div class="price">
            <div class="priceCenter">
            <span class="priceCenter_inner">
                 <p class="priceCenter_inner_name">促销价:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                 <p class="priceCenter_inner_price">￥105.40</p>
            </span>
              <span class="priceCenter_inner">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                评价：23
                 累计销量：94
            </span>
            </div>
            <div class="priceDown">
              <div>店铺优惠:</div>
              <div class="priceDown_left">满5元立减5元
                <a class="get" href="#">领取</a>
              </div>
              <div class="priceDown_right">满99元立减10元
                <a class="get" href="#">领取</a>
              </div>
            </div>
          </div>
          <div class="serve">
            <span class="serve_left">客服:</span>
            <div class="serve_right">
              <img src="../../assets/shopping_images/server.png" height="22" width="22">
              &nbsp;联系客服</div>
          </div>
          <div class="picture">
            <div class="picture_right">颜色:</div>
            <div class="picture_right">
              <img src="../../assets/personal_images/1439880982560.jpg" height="50" width="50">
            </div>
          </div>
          <div class="size">
            <div class="size_left">尺码:</div>
            <input type="button" id="size_right_id" class="size_right" value="S" #btn (click)="size_click(btn)">
            <img id="Szhijiao" src="../../assets/shopping_images/gou.png" height="15" width="15"/>
            <input type="button" id="size_right_id1" class="size_right" value="M" #btn1  (click)="size1_click(btn1)">
            <img id="Mzhijiao" src="../../assets/shopping_images/gou.png" height="15" width="15"/>
            <input type="button" id="size_right_id2" class="size_right" value="L" #btn  (click)="size2_click(btn)">
            <img id="Lzhijiao" src="../../assets/shopping_images/gou.png" height="15" width="15"/>

          </div>
          <div class="number">
            <div class="number_left">数量:</div>
            <input type="button" id="number_right_id" class="number_right" value="-" #btn (click)="numClick(btn)" >
            <input type="text" id="number_center_id" class="number_center" value="1" #btn (click)="numClick1(btn)">
            <input type="button" id="number_right_id1" class="number_right" value="+" #btn (click)="numClick2(btn)">
          </div>
          <div class="purchase">
            <input type="button" id="purchase_left_id" class="purchase_left" value="立即购买" #btn (click)="pur(btn)">
            <input type="button" id="purchase_left_id1" class="purchase_left" value="加入购物车" #btn (click)="pur1(btn)">
          </div>
          <div class="feature">
            <div class="feature_left">商品特色:</div>
            <div class="feature_right">
              <img src="../../assets/shopping_images/cloth.png" height="15" width="15">
              E-shine良品
            </div>
            <div class="feature_right">
              <img src="../../assets/shopping_images/pinpai.png" height="18" width="18">
              品牌认证
            </div>
            <div class="feature_right"><img src="../../assets/shopping_images/shipai.png" height="18" width="18">
              实拍认证</div>
          </div>
          <div class="promise">
            <div class="promise_left">服务承诺:</div>
            <div class="promise_right"><img src="../../assets/shopping_images/24.png" height="22" width="22">24小时发货</div>
            <div class="promise_right"><img src="../../assets/shopping_images/tuihuo.png" height="22" width="22">退货补运费</div>
            <div class="promise_right"><img src="../../assets/shopping_images/baoyou.png" height="22" width="22">全国包邮</div>
            <div class="promise_left">全国服务:</div>
            <div class="promise_right"><img src="../../assets/shopping_images/7.png" height="24" width="24">7天无由退货</div>
            <div class="promise_right"><img src="../../assets/shopping_images/phone.png" height="22" width="22">模特实拍</div>
            <div class="promise_right"><img src="../../assets/shopping_images/zhi.png" height="24" width="24">劣一赔三服务</div>

          </div>
          <div class="payment"></div>
        </div>
        <div class="cpm" id="cpm_id">
          <div class="shop_infor">选择商品信息
            <input id="cancel_id" class="cancel" type="button" value="X" #btn (click)="cel(btn)">
          </div>

          <div class="color">
            <div class="picture_right1">颜色:</div>
            <div class="picture_right1">
              <img src="../../assets/personal_images/1439880982560.jpg" height="50" width="50">
            </div>
          </div>
          <div class="size1">
            <div class="size_left1">尺码:</div>
            <input type="button" id="size_right2_id1" class="size_right" value="S" #btn (click)="size_click1(btn)">
            <img id="Szhijiao1" src="../../assets/shopping_images/gou.png" height="15"  width="15">
            <input type="button"id="size_right2_id2" class="size_right" value="M" #btn (click)="size_click2(btn)">
            <img id="Mzhijiao1" src="../../assets/shopping_images/gou.png" height="15" width="15">
            <input type="button" id="size_right2_id3" class="size_right" value="L" #btn (click)="size_click3(btn)">
            <img id="Lzhijiao1" src="../../assets/shopping_images/gou.png" height="15" width="15">
          </div>
          <div class="number1">
            <div class="number_left1">数量:</div>
            <input type="button" id="number_right2_id" class="number_right2" value="-" #btn (click)="numClick3(btn)" >
            <input type="text" id="number_center_id2" class="number_center2" value="1" >
            <input type="button" id="number_right2_id1" class="number_right2" value="+" #btn (click)="numClick4(btn)">
          </div>
          <input type="button" class="confirm" value="确认">
        </div>
      </div>
    </div>

  </div>
</div>
