<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="well">
        <div class="well-item">
          <div class="correct">
            <img src="../../assets/shares_images/shares1.jpg" height="400" width="219"/>
          </div>
          <div class="opposite">
            <div class="">
              <div class="opposite-content">
                <div class="opposite-content-text">
                  耶耶耶
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="well-item">
          <div class="correct">
            <img src="../../assets/shares_images/shares2.jpg" height="400" width="221"/>
          </div>
          <div class="opposite">
            <div class="">
              <div class="opposite-content">
                <div class="opposite-content-text">
                  吃吃
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="well-item">
          <div class="correct">
            <img src="../../assets/shares_images/shares3.jpg" height="400" width="221"/>
          </div>
          <div class="opposite">
            <div class="">
              <div class="opposite-content">
                <div class="opposite-content-text">
                  吃吃
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-12 col-lg-12">
      <div class="well">
        <div class="well-item">
          <div class="correct">
            <img src="../../assets/shares_images/shares4.jpg" height="400" width="219"/>
          </div>
          <div class="opposite">
            <div class="">
              <div class="opposite-content">
                <div class="opposite-content-text">
                  请我吃烤鱼！
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="well-item">
          <div class="correct">
            <img src="../../assets/shares_images/phone6.jpg" height="400" width="200">
          </div>
          <div class="opposite">
            <div class="">
              <div class="opposite-content">
                <div class="opposite-content-text">
                  吃吃
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="well-item">
          <div class="correct">
            <img src="../../assets/shares_images/shares6.jpg" height="400" width="221"/>
          </div>
          <div class="opposite">
            <div class="">
              <div class="opposite-content">
                <div class="opposite-content-text">
                  吃吃
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-12 col-lg-12">
      <div class="well">
        <div class="well-item">
          <div class="correct">
            <img src="../../assets/shares_images/shares7.jpg" height="400" width="219"/>
          </div>
          <div class="opposite">
            <div class="">
              <div class="opposite-content">
                <div class="opposite-content-text">
                  请我吃烤鱼！
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="well-item">
          <div class="correct">
            <img src="../../assets/shares_images/shares8.jpg" height="400" width="221"/>
          </div>
          <div class="opposite">
            <div class="">
              <div class="opposite-content">
                <div class="opposite-content-text">
                  吃吃
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="well-item">
          <div class="correct">
            <img src="../../assets/shares_images/shares9.jpg" height="400" width="221"/>
          </div>
          <div class="opposite">
            <div class="">
              <div class="opposite-content">
                <div class="opposite-content-text">
                  吃吃
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
