#container{
  height:auto;
  min-height:500px;
  border:1px solid rgba(255, 0, 0, 0.42);
  padding:20px;
}
#show{
  border:1px solid rgba(255, 255, 0, 0.38);
  height:auto;
  min-height:50px;
  margin-top: 20px;
}
#ever{
  margin-bottom:30px;
  background-color: rgba(255, 255, 0, 0.3);
min-height:100px;
}
#num1{
  width:25px;
  border: none;
  text-align: center;
  background-color: transparent;
}
* { margin: 0; padding: 0;}
ul { list-style-type: none;}
body {
  overflow-x: hidden;
}
@-webkit-keyframes flipOutYtest {
  from {
    -webkit-transform: perspective(1400px);
  }

  40% {
    -webkit-transform: perspective(1400px) rotate3d(0, 1, 0, 60deg);
    opacity: 1;
  }

  50% {
    -webkit-transform: perspective(1400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }

  to {
    -webkit-transform: perspective(1400px) rotate3d(0, 1, 0, 180deg);
    opacity: 0;
  }
}
.test{
  -webkit-animation: flipOutYtest 0.75s linear;
  -webkit-animation-fill-mode: both;
}
@-webkit-keyframes flipInYtest {
  from {
    -webkit-transform: perspective(1400px) rotate3d(0, 1, 0, -180deg);
    opacity: 0;
  }

  50% {
    -webkit-transform: perspective(1400px) rotate3d(0, 1, 0, -90deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: perspective(1400px) rotate3d(0, 1, 0, -60deg);
    opacity: 1;
  }

  to {
    -webkit-transform: perspective(1400px);
    opacity: 1;
  }
}
.test2{
  -webkit-animation: flipInYtest 0.75s linear;
  -webkit-animation-fill-mode: both;
}
@-webkit-keyframes rowOutYtest {
  from {
    -webkit-transform:translateX(0px);
  }
  30% {
    -webkit-transform:translateX(-130px);
  }

  50% {
    -webkit-transform:translateX(-260px);

  }
  70% {
    -webkit-transform:translateX(-400px);
  }

  to {
    -webkit-transform: translateX(-520px);

  }
}
.test3{
  -webkit-animation: rowOutYtest 1s linear;
  -webkit-animation-fill-mode:both;
}
@-webkit-keyframes sharesInYtest {
  from {
    -webkit-transform:translateX(0px);
    opacity: 0;
  }

  50% {
    -webkit-transform:translateX(35px);
    opacity: 0;

  }
  80% {
    -webkit-transform:translateX(75px);

    opacity: 1;
  }

  to {
    -webkit-transform: translateX(115px);
    opacity: 1;
  }
}
.test4{
  -webkit-animation: sharesInYtest 3s linear;
  -webkit-animation-fill-mode:both;
}
.row{
  width:1630px;
  height:1500px;
}
.well{
  width: 1200px;
  min-height:400px;
  margin-left:90px;
  padding-left:130px;
  height: auto;
  overflow: hidden;
}
.well .well-item{
  position: relative;
  float: left;
  width:25%;
  min-height:400px;
  background-color: rgba(251, 132, 75, 0.71);
  margin: 2%; }
.well .well-item img{
  width: 100%;
  min-height:400px;
}
.correct{
  position: absolute;
  width: 100%;
}
.opposite{
  min-height: 400px;
  width: 100%;
}
.opposite div{
  min-height: 400px;
  width: 100%;
}
.opposite img{
  width:30%;
}
.opposite-content{
  display: table;
  width:100%;
  min-height: 350px;
  background-color:black;

}
.opposite-content-text{
  display: table-cell;
  /*vertical-align: middle;*/
  padding-top:60px;
  text-align: center;
  color: white;
  font-size:1.2em; }
.cloth_price{
  padding-top: 30px;
  color:pink;
  font-size:0.8em;
  padding-bottom:30px;
}
.cloth_types{
  padding-top:20px;
  padding-bottom:40px;
}
.cloth_introduce{
  width:140px;
  height:80px;
  margin-left:auto;
  margin-right: auto;
  text-align: center;
  font-size:0.8em;
  border:1px solid pink;
}
.camera1{
  position: absolute;
  top:0px;
  left:0px;
  opacity:0;
}
.camera{
  width:271px;
  height:400px;
  background-repeat: round;
  background-image: url("../../assets/shares_images/phone3.jpg");
}
.camera1:hover{
  opacity:1;
}
.shares_content{
  width:830px;
  height:1400px;
  background-color: rgb(176, 176, 176);
  position: absolute;
  top:200px;
  left:520px;
  display: none;
}
.shares_content1{
  width:830px;
  height:1350px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top:165px;
  left:520px;
  display: block;
}
.shares_content_top{
  width:900px;
  height:100px;
  line-height:100px;
  padding-top:10px;
  letter-spacing:1em;
  margin-left:45px;
  color: #090404;
}
.shares_content_left{
  margin-left:20px;
  width:350px;
  height:490px;
  margin-top:462px;
  float:left;
}
#file{
  margin-left:90px;

}
.shares_content_right{
  width:400px;
  height:490px;
  float:left;
  margin-top:462px;

}
.left_photo{
  width:280px;
  height:420px;
  float: left;

  margin-left:10px;
  margin-bottom:32px;
  border:1px solid #090404;
}
.left_photo_zi{
  width:30px;
  height:420px;
  margin-left:47px;
  padding-top:120px;
  letter-spacing:0.8em;
  text-align: center;
  float:left;
  color: #090404;
}
.shares_content_right input{
  margin-bottom:34px;
  width:250px;
  text-align: center;
  border:1px solid #090404;

}
.clothes_types{
  margin-top:8px;
  /*width:180px;*/
  height:40px;
}
.clothes_name{
  /*width:200px;*/
  height:60px;
}
.clothes_price{
  /*width:200px;*/
  height:60px;
}
.clothes_feeling{
  /*width:200px;*/
  height:80px;
}
.submit{
  background-color: white;
  width:40px;
  height:35px;
}

#smallback{height:50px;
background-color: red;
}
#big{
  margin-left:auto;
  margin-right: auto;
}
#backshow{
  width:400px;
  margin-bottom: 50px;
}
