
<div class="head col-md-12 carousel slide" style="text-align: center">
  <div class="fl_s">
    <div class="tu">
      <img src="../../assets/index-img/a.gif" class="img-responsive" style="display:block;">
      <img routerLink="/looks" src="../../assets/index-img/d.jpg" class="img-responsive" >
      <img routerLink="/loves" src="../../assets/index-img/b.jpg" class="img-responsive" >
      <img routerLink="/fashionweek" src="../../assets/index-img/c.jpg" class="img-responsive" >
      <img routerLink="/fashionweek" src="../../assets/index-img/f.jpg" class="img-responsive" >
      <img routerLink="/shares" src="../../assets/index-img/e.jpg" class="img-responsive" >
    </div>
    <div class="ups col-md-12">
      <a class="btn_left"><span class="glyphicon glyphicon-menu-left"></span></a>
      <a class="btn_right"><span class="glyphicon glyphicon-menu-right"></span></a>
    </div>
    <div class="dos">
      <div class="dor">
        <a class="doro"></a>
        <a class="doro"></a>
        <a class="doro"></a>
        <a class="doro"></a>
        <a class="doro"></a>
        <a class="doro"></a>
      </div>
    </div>
  </div>
</div>
<div class="container con" >
  <div class="col-md-12 today">
    <div class="col-md-12 head1"><img src="../../assets/index-img/head1.jpg"></div>
    <div id="wrapper" class="col-sm-12 col-md-6">
      <div id="show-area">
        <ul>
          <li><a><img src="../../assets/index-img/focusa.jpg"></a></li>
          <li><a><img src="../../assets/index-img/focusf.jpg"></a></li>
          <li><a><img src="../../assets/index-img/focusd.jpg"></a></li>
          <li><a><img src="../../assets/index-img/focusc.jpg"></a></li>
          <li><a><img src="../../assets/index-img/focuse.png"></a></li>
          <li><a><img src="../../assets/index-img/focusb.jpg"></a></li>
        </ul>
        <div id="button-left" title="下一张" ><img src="../../assets/index-img/right.png"></div>
        <div id="button-right" title="上一张" ><img src="../../assets/index-img/left.png"></div>
      </div>
    </div>
    <div class=" col-sm-12 col-md-6 hot">
      <h3>今日热点</h3>
      <ul>
        <li>GiorgioArmani外套好戏看不够,lady们早春衣橱被拯救//查看详情//</li>
        <li>HOGAN新品大走户外风 “娜比”爱上厚底鞋//查看详情//</li>
        <li>Max Mara经典款大衣再出五个新原色！每个颜色给我来一打//查看详情//</li>
        <li>看蔡依林米兰“七十二变” 下体失踪玩了一整天//查看详情//</li>
      </ul>
    </div>
  </div>
<div class="col-md-12 head2"><img src="../../assets/index-img/head2.jpg"></div>
<div class="look col-md-12">
  <ul>
    <li routerLink="/girls">女生穿搭</li>
    <li routerLink="/looks"><h3>穿搭</h3></li>
    <li routerLink="/boys">男生穿搭</li>
  </ul>
  <div class="look2 col-md-12">
   <div class="col-md-8 look2-1">
     <a><img src="../../assets/index-img/looka.jpg"></a>
     <a><img src="../../assets/index-img/lookb.jpg"></a>
     <a><img src="../../assets/index-img/lookc.jpg"></a>
   </div>
   <div class="col-md-3 look2-2">
     <img src="../../assets/index-img/lookd.jpg">
    <span> 迅速变帅并不是一件难事，平时工作辛苦，饱受各种压力的男士，
      经过简单的搭配，充分享受帅气打扮后约会带来的减压快乐吧！
      </span>
   </div>
  </div>
    <div class="look3 col-md-12">
      <div class="col-md-8 left1">
        <a style="background: url(../../assets/index-img/look-k1.jpg)">
          <p>夏天+恨个子太矮？矮个子增高福音来了 短腿的反击</p>
        </a>
        <a style="background: url(../../assets/index-img/look-k2.jpg)">
          <p>矮个子 1米54搭出1米62高 短裤清爽搭配, 即干练又有美范</p>
        </a>
        <span class="f2">
         <a style="background: url(../../assets/index-img/look-k3.jpg)">
           <p>半身裙，显个子？扬长避短 让我们做个迷人的小淑女吧</p>
         </a>
         <a style="background: url(../../assets/index-img/look-k4.jpg)">
           <p>夏天气息，小清新的文艺范 一道美丽的风景线</p>
         </a>
        </span>
      </div>
      <div class="col-md-4">
        <div class="middle_right">
          <div id="lunbobox">
            <div class="lunbo">
              <a *ngFor="let item of lun"><img src="../../assets/index-img/{{item}}"></a>
            </div>
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
            <span></span>
          </div>
        </div>

      </div>
    </div>
</div>
  <div class="col-md-12 head2"><img src="../../assets/index-img/head3.jpg"></div>
<div class="loves col-md-12">
  <div class="head3">
  <ul>
    <li routerLink="/loves">卫衣</li>
    <li routerLink="/loves">毛衣</li>
    <li routerLink="/loves">衬衫</li>
    <li routerLink="/loves"><h3 class="fatxt">情侣时光</h3></li>
    <li routerLink="/loves">外套</li>
    <li routerLink="/loves">牛仔裤</li>
    <li routerLink="/loves">休闲裤</li>
  </ul>
  </div>
  <div class="col-md-12 love-img">
   <div class="col-md-12">
     <div class="col-md-6 head3-left1">
     <img src="../../assets/index-img/love1.jpg">
     </div>
     <div class="col-md-5 head3-right1">
       <h3>《你还在我身边》</h3>
       <br>
       <pre id="aa" class="saying"></pre>
       <div  style="display:none" id="w">
瀑布的水逆流而上，蒲公英种子从远处飘回
聚成伞的模样
太阳从西边升起，落向东方
子弹退回枪膛，运动员回到起跑线上，我交回录取通知书
忘了十年寒窗。厨房里飘来饭菜的香，你把我的卷子签好名字
关掉电视，帮我把书包背上。你还在我身旁。

       </div>
     </div>
   </div>
    <div class="col-md-12">
      <div class="col-md-5 head3-left2">
        <p>不记得从什么时候开始冬天必须要有情侣针织毛衣的陪伴</p>
        <p>是一场期待已久的小聚</p>
        <p>浅酌，享受时光荏苒中的不离不弃，遇见情侣</p>
        <p>针织毛衣又怎么会不牵动些许情绪呢</p>
        <p>优质柔软的针织棉混纺面料，手感柔软舒适，有弹性，亲肤感很好，
        简单的圆领设计，白灰大块条纹拼接的设计，很文艺清新的学院气息</p>
      </div>
      <div class="col-md-5  head3-right2">
        <img src="../../assets/index-img/love2.jpg">
      </div>
    </div>
    <div class="col-md-12 love3-bottom">
    <div class="col-md-3"><img src="../../assets/index-img/love5.jpg"></div>
    <div class="col-md-3"><img src="../../assets/index-img/love6.jpg"></div>
    <div class="col-md-3"><img src="../../assets/index-img/love7.jpg"></div>
    <div class="col-md-3">
      <img src="../../assets/index-img/love8.jpg">
      <br>
      <br>
      <br>
      <img src="../../assets/index-img/love9.gif">
    </div>

    </div>
  </div>
</div>
  <div class="col-md-12 head2"><img src="../../assets/index-img/head4.jpg"></div>
  <div class="fashion col-md-12">
    <div class="fashion1">
      <div class="model_title">
        <ul>
          <li routerLink="/fashion-week">时装秀</li>
          <li routerLink="/fashion-ying">赵丽颖</li>
          <li routerLink="/fashion-week"><h2 class="fatxt">时尚圈</h2></li>
          <li routerLink="/fashion-fan">吴亦凡</li>
          <li routerLink="/fashion-ou">王鸥</li>
        </ul>
      </div>
      <ul class="fashionInfo1" >
        <li class="img1">
          <img src="../../assets/index-img/part1.jpg"/>
          <p><span>韩孝珠在《W-两个世界》里面的表现可圈可点，空气感刘海+经典的韩式妆容，让人大呼美丽。出道以来她出演的多部电影电视剧都获得不错的奖项，不会因为名利而改变自己MORE </span></p>
        </li>
        <li class="img2">
          <img src="../../assets/index-img/fashion-stars2.jpg" height="260" width="220"/>
          <p><span>张天爱封面大片展完美LOOK 演绎婀娜攻气两种苏</span></p>
        </li>
        <li class="img2">
          <img src="../../assets/index-img/fashion-stars3.jpg" height="260" width="220"/>
          <p><span>吴亦凡的国际影响力一直不容小觑吴亦凡EP《6》创7项纪录 史上最快突破百万专辑</span></p>
        </li>
        <li class="img3">
          <img src="../../assets/index-img/fashion-stars4.jpg" height="240" width="460"/>
          <p><span>不惧盛夏高温，付辛博高温演绎雅痞风，在演员、演唱道路上稳扎稳打，不仅有颜，还颇有实力，自然也成为时尚界的宠儿。</span></p>
        </li>
        <li class="img4">
          <img src="../../assets/index-img/fashion-stars5.jpg" height="520" width="320"/>
          <p><span>江铠同演绎时尚摩登的都市女郎特质，时而头发微乱，徜徉花海，尽显小女人的慵懒可爱。江铠同在《爱闪亮》的拍摄过程中，戏份重又太过投入，每天都累得精疲力尽，常常收工回去已经“目光呆滞”，朋友甚至戏谑江铠同“感觉不会再爱了”。</span></p>
        </li>
      </ul>
    </div>
    <!--秀场-->
    <div class="content-fault">
        <div id="mycarousel" class="carousel slide " data-ride="carousel" style="width:100%" >
          <!-- Wrapper for slides -->
          <div class="carousel-inner " role="listbox"  style="background-color: #fffcf9">
            <div class="item " style="background-color:#F3E6D5" >
              <div class="fashion2">
                <a *ngFor="let item of hdp1" class={{item.c}}>
                  <img src="../../assets/index-img/{{item.pic}}">
                </a>
              </div>
              <div class="carousel-caption">
              </div>
            </div>
            <div class="item" style="background-color: rgba(0,0,0,0.99)" >
              <div class="fashion2">
                <a *ngFor="let item of hdp2" class={{item.c}}><img src="../../assets/index-img/{{item.pic}}"></a>
              </div>

              <div class="carousel-caption">

              </div>
            </div>
            <div class="item active" style="background-color:#ffffff" >
              <div class="fashion2">
                <a *ngFor="let item of hdp3" class={{item.c}}><img src="../../assets/index-img/{{item.pic}}"></a>
              </div>

              <div class="carousel-caption">

              </div>
            </div>
            <div class="item" style="background-color: #3C3C3C" >
              <div class="fashion2">
                <a *ngFor="let item of hdp4" class={{item.c}}><img src="../../assets/index-img/{{item.pic}}"></a>
              </div>

              <div class="carousel-caption">

              </div>
            </div>
          </div>
          <!-- Controls -->
          <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  <div class="col-md-12 head2">
    <img src="../../assets/index-img/head5.jpg">
    <h2 routerLink="/shares" style="margin-left:150px;text-align: center">分享</h2>
  </div>

    <div class="col-md-12 share">
      <ul>
        <li class="hit1" (mouseenter)="a('.hit1','#share_txt1-1')"><img src="../../assets/index-img/index-cp.jpg"/>
          <div class="cen1">
            <div id="share_txt1-1" class="share_txt1-1"><br><br> <br>城市璀璨星空下，总有相似的情节在悄悄上演。阳光男孩任嘉伦牵手个性女孩姚星彤，演
            绎那个勾起你我回忆的浪漫故事。的浪漫故事。当她遇见他，那次命中注定的初次邂逅，一见钟情的魔法就已在彼此心间点燃。...</div>
          </div>

        </li>
        <li class="hit2" (mouseenter)="a('.hit2','#share_txt1-2')"><img src="../../assets/index-img/share2.jpg"/> <div class="cen1">
          <div id="share_txt1-2" class="share_txt1-1"><br><br> <br>城市璀璨星空下，总有相似的情节在悄悄上演。阳光男孩任嘉伦牵手个性女孩姚星彤，演
            绎那个勾起你我回忆的浪漫故事。的浪漫故事。当她遇见他，那次命中注定的初次邂逅，一见钟情的魔法就已在彼此心间点燃。...</div>
        </div></li>
        <li class="hit3" (mouseenter)="a('.hit3','#share_txt1-3')"><img src="../../assets/index-img/share3.jpg"/><div class="cen1">
          <div id="share_txt1-3" class="share_txt1-1"><br><br> <br>城市璀璨星空下，总有相似的情节在悄悄上演。阳光男孩任嘉伦牵手个性女孩姚星彤，演
            绎那个勾起你我回忆的浪漫故事。的浪漫故事。当她遇见他，那次命中注定的初次邂逅，一见钟情的魔法就已在彼此心间点燃。...</div>
        </div></li>
      </ul>
      <div  class=" share_bg">
        <div class="head-share"></div>
        <div class="share_title">时尚达人博主的分享圈</div>
        <div class="share1">
            <img  src="../../assets/index-img/pic2-3.jpg"/>

        </div>
        <div class="share2">
          <div class="share-left"></div>
          <div class="share-right"></div>
          <img class="share-1" src="../../assets/index-img/pic2-1x.jpg"/>
          <img class="share-2" src="../../assets/index-img/pic2-1.jpg"/>

        </div>

      </div>


</div>

</div>
