<div class="top" >
  <img  src="../../assets/images/fashion.jpg "  class="img-responsive"  >
</div>



<div>
  <div class="show_title col-lg-12 col-md-12 col-sm-12"><img class="img-responsive p1_title" src="../../assets/images/p1_tit.png"  ></div>
    <div class="btns ">
      <input class="btn btn-lg newyok" type="button" value="纽约时装周" (click)="show(newyok)">
      <input class="btn  btn-lg lundon"  type="button" value="伦敦时装周" (click)="show(lundon)">
      <input class="btn  btn-lg milan" type="button" value="米兰时装周" (click)="show(milan)">
      <input class="btn active btn-lg paris" type="button" value="巴黎时装周" (click)="show(paris)">
    </div>




  <div id="mycarousel" class="carousel slide " data-ride="carousel"  >
    <!-- Wrapper for slides -->
    <div class="carousel-inner " role="listbox"  style="background-color: #fffcf9">
      <div class="item active " style="background-color:#F3E6D5" >
        <ul>
          <li *ngFor ="let item of url1">  <img src="../../assets/images/{{item}}.jpg" alt=""></li>

        </ul>
        <div class="carousel-caption">
        </div>
      </div>
      <div class="item" style="background-color: rgba(0,0,0,0.97)">

        <ul>
          <li *ngFor ="let item of url2">  <img src="../../assets/images/{{item}}.jpg" alt=""></li>

        </ul>

        <div class="carousel-caption">

        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="row">
  <div class=" col-lg-12 col-md-12 col-sm-12 middle_div">
    <a href=""><img src="../../assets/images/red1.png" height="120" width="120"/></a>
    <a href=""><img src="../../assets/images/red2.png" height="120" width="120"/></a>
    <div class="dao"><span>Show&秀场导Navigation</span></div>
    <a href=""><img src="../../assets/images/red3.png" height="120" width="120"/></a>
    <a href=""><img src="../../assets/images/red4.png" height="120" width="120"/></a>
  </div>
</div>


<div class=" col-lg-12 col-lg-offset-3  col-md-12 col-md-offset-3 col-sm-12 col-sm-offset-2 show_review">
  <div class="review"><span>Show&秀评专栏Reviews</span></div>

</div>
<div class="container-fluid" style="clear: both">
  <div class="review_show" >
    <div id="review1" >
      <div id="a">有人说古老的米兰时装周已经新意不再，可我却认为它亮点不断。在米兰时装周开始的前一天晚上，我意识到自己需要变得更加随心所欲一些，去尝试以前一直想要尝试的发型。第二天一早我就已经置身Tommy（意大利最出色的发型师）的美发沙龙My Place Studio了，他和他的剪刀正在那儿等着我。只是改变了一下刘海，一个全新的Patricia就诞生了。</div>
    </div>

    <div  id="review2" > <div id="b"><h3>Colin McDowell：巴黎时装周的起源</h3>
      如今，人们早已对巴黎、米兰、伦敦和纽约四大时装周习以为常。世界各地更是出现了许许多多的全新时装周。而作为行业内当之无愧的王者，巴黎时装周又是缘何而起呢？</div>
      <div id="review3"><div id="c">巴黎时装周期间，空气中已经开始洋溢着春天的气息，还有比这更美好的时刻吗？
        一切终于步入正轨：大衣几乎只在秀台上才能看到，在如此温暖的天气里，穿梭于大街小巷的我们都已卸去了厚重的“围裹”。</div>
      </div>
      <div id="review4"></div>
      <div id="review5"><div id="e">巴黎时装周期间，空气中已经开始洋溢着春天的气息，还有比这更美好的时刻吗？
        一切终于步入正轨：大衣几乎只在秀台上才能看到，在如此温暖的天气里，穿梭于大街小巷的我们都已卸去了厚重的“围裹”。</div>
      </div>
      <div id="review6"><div id="f">巴黎时装周期间，空气中已经开始洋溢着春天的气息，还有比这更美好的时刻吗？
        一切终于步入正轨：大衣几乎只在秀台上才能看到，在如此温暖的天气里，穿梭于大街小巷的我们都已卸去了厚重的“围裹”。</div>
      </div>
    </div>
  </div>
  <div class="container" >
    <div class="street_title  ">
      <img src="../../assets/images/ti.jpg" class="img-responsive" >
    </div>
    <div class="street" >
      <div id="container">
        <ul id="content">
          <li><a href="#"> <img src="../../assets/images/street1.jpg" ></a></li>
          <li><a href="#"> <img src="../../assets/images/street2.jpg" ></a></li>
          <li><a href="#"> <img src="../../assets/images/street10.jpg" ></a></li>
          <li><a href="#"> <img src="../../assets/images/street3.jpg" ></a></li>
          <li><a href="#"> <img src="../../assets/images/street5.jpeg" ></a></li>
          <li><a href="#"> <img src="../../assets/images/street8.jpg" ></a></li>
          <li><a href="#"> <img src="../../assets/images/street6.jpeg" ></a></li>
          <li><a href="#"> <img src="../../assets/images/street4.jpg" ></a></li>
          <li><a href="#"> <img src="../../assets/images/street9.jpg" ></a></li>
          <li><a href="#"> <img src="../../assets/images/street11.jpg" ></a></li>
          <li><a href="#"> <img src="../../assets/images/street13.jpg" ></a></li>
          <li><a href="#"> <img src="../../assets/images/street7.jpeg" ></a></li>
        </ul>
      </div>

    </div>
  </div>
  <div class="container-fluid " >
    <div class="star">
      <div class="star_title"><img  src="../../assets/images/p4_tit.png"  ></div>

      <div class="star_show " >
        <a  (click)="ying()"><img class="block revealOnScroll"   data-animation="fadeInLeft"  data-timeout="700" src="../../assets/images/star13.jpg" ></a>
        <a (click)="wu()"><img class="block revealOnScroll"   data-animation="bounceInUp"  data-timeout="400" style="margin-top: 10px" src="../../assets/images/star2.jpg" ></a>
        <a (click)="ou()"><img class="block revealOnScroll"   data-animation="fadeInRight "  data-timeout="700"  src="../../assets/images/star5.jpg" ></a>
      </div>
    </div>
  </div>
</div>
