<div class="girl">
<div class="col-md-12 big-girl">
  <img src="../../../assets/girls-img/big-girl.jpg">
</div>
<div class="col-md-12 nav">
<ul>
  <li style="background-color: #ff5777">甜美可爱</li>
  <li style="background-color: #994420">心计显瘦</li>
  <li style="background-color: #ff4ba7">温柔气质</li>
  <li style="background-color: #2dd5ff">长腿秘诀</li>
  <li style="background-color: #dbff88">清新减龄</li>
  <li style="background-color: #d586ff">夏树公主</li>
</ul>
</div>
    <div class="container">
    <div class="sweet">
      <div class="col-md-12 title1">夏天+小清新+甜美，清纯灵动气息</div>
      <ul>
        <li>
          <img src="../../../assets/girls-img/sweet1.jpg">
          <div class="name"> 仿棉麻面料 条纹衬衫...</div>
          <div class="price">￥59.99 </div>
          <div class="buy1">立即购买</div>

        </li>

        <li><img src="../../../assets/girls-img/sweet2.jpg">
        <div class="name">可爱少女心 刺绣拼色短袖T恤...</div>
          <div class="price">￥45.99 </div>
          <div class="buy1">立即购买</div>
        </li>
        <li><img src="../../../assets/girls-img/sweet3.jpg">
          <div class="name">瞌睡兔 露肩一字领两穿...</div>
          <div class="price">￥66.99 </div>
          <div class="buy1">立即购买</div>
        </li>
        <li><img src="../../../assets/girls-img/sweet4.jpg">
          <div class="name">露锁骨V领 小清新短袖衬衫...</div>
          <div class="price">￥68.99 </div>
          <div class="buy1">立即购买</div>
        </li>
      </ul>
      <div class="col-md-12 title1">夏天+甜美+可爱打扮，想要做个小仙女</div>
      <ul>
        <li>
          <img src="../../../assets/girls-img/sweet5.jpg">
          <div class="name"> 简约polo领皇冠刺绣短袖T恤...</div>
          <div class="price">￥45.00 </div>
          <div class="buy1">立即购买</div>

        </li>

        <li><img src="../../../assets/girls-img/sweet6.jpg">
          <div class="name">呆萌猫咪印花宽松萝莉T恤...</div>
          <div class="price">￥70.00 </div>
          <div class="buy1">立即购买</div>
        </li>
        <li><img src="../../../assets/girls-img/sweet7.jpg">
          <div class="name">瞌睡兔 露肩一字领两穿...</div>
          <div class="price">￥66.99 </div>
          <div class="buy1">立即购买</div>
        </li>
        <li><img src="../../../assets/girls-img/sweet8.jpg">
          <div class="name">森女部落可爱短袖T恤软妹...</div>
          <div class="price">￥54.00 </div>
          <div class="buy1">立即购买</div>
        </li>
      </ul>
    </div>
    <div class="thin">
      <div class="col-md-12 title2">夏天+显瘦+显腿，夏季扮靓妥妥的</div>
      <ul>
        <li>
          <img src="../../../assets/girls-img/sweet9.jpg">
          <div class="name">文艺小清新宽松短袖学生...</div>
          <div class="price">￥66.00 </div>
          <div class="buy2">立即购买</div>

        </li>

        <li><img src="../../../assets/girls-img/sweet10.jpg">
          <div class="name">休闲七分袖木耳边条纹连衣裙...</div>
          <div class="price">￥70.00 </div>
          <div class="buy2">立即购买</div>
        </li>
        <li><img src="../../../assets/girls-img/sweet11.jpg">
          <div class="name"> 韩版修身文艺小清新圆领...</div>
          <div class="price">￥49.00 </div>
          <div class="buy2">立即购买</div>
        </li>
        <li><img src="../../../assets/girls-img/sweet12.jpg">
          <div class="name">七分袖绣花条纹露肩连衣裙...</div>
          <div class="price">￥179.00 </div>
          <div class="buy2">立即购买</div>
        </li>
      </ul>
      <div class="col-md-12 title2">旅游+显瘦遮肉,藏不住的美丽</div>
      <ul>
        <li>
          <img src="../../../assets/girls-img/sweet13.jpg">
          <div class="name"> 叙旧荷叶边短袖衬衫女...</div>
          <div class="price">￥115.00 </div>
          <div class="buy2">立即购买</div>

        </li>

        <li><img src="../../../assets/girls-img/sweet14.jpg">
          <div class="name">叙旧纯色休闲裤女长裤 显瘦...</div>
          <div class="price">￥70.00 </div>
          <div class="buy2">立即购买</div>
        </li>
        <li><img src="../../../assets/girls-img/sweet15.jpg">
          <div class="name">宽松短款条纹T恤女...</div>
          <div class="price">￥66.99 </div>
          <div class="buy2">立即购买</div>
        </li>
        <li><img src="../../../assets/girls-img/sweet16.jpg">
          <div class="name">蝴蝶结半身裙女短裙...</div>
          <div class="price">￥54.00 </div>
          <div class="buy2">立即购买</div>
        </li>
      </ul>
</div>
    <div class="soft">
      <div class="col-md-12 title3">连衣裙+气质，都是属于你的夏日之美</div>
      <ul>
        <li>
          <img src="../../../assets/girls-img/sweet17.jpg">
          <div class="name">文艺清新系带收腰碎花雪纺连...</div>
          <div class="price">￥149.00 </div>
          <div class="buy3">立即购买</div>

        </li>

        <li><img src="../../../assets/girls-img/sweet18.jpg">
          <div class="name">清新荷叶边碎花雪纺吊带...</div>
          <div class="price">￥109.00 </div>
          <div class="buy3">立即购买</div>
        </li>
        <li><img src="../../../assets/girls-img/sweet19.jpg">
          <div class="name"> 不对称荷叶边雪纺衫女短袖...</div>
          <div class="price">￥59.00 </div>
          <div class="buy3">立即购买</div>
        </li>
        <li><img src="../../../assets/girls-img/sweet20.jpg">
          <div class="name">柔美雪纺衫显瘦V领雪纺上...</div>
          <div class="price">￥49.00 </div>
          <div class="buy3">立即购买</div>
        </li>
      </ul>
      <div class="col-md-12 title3">女神+气质搭 飘成初恋的形状</div>
      <ul>
        <li>
          <img src="../../../assets/girls-img/sweet21.jpg">
          <div class="name">小清新仙气裙子女收腰...</div>
          <div class="price">￥143.00 </div>
          <div class="buy3">立即购买</div>

        </li>

        <li><img src="../../../assets/girls-img/sweet22.jpg">
          <div class="name">露肩雪纺连衣裙女夏...</div>
          <div class="price">￥158.00 </div>
          <div class="buy3">立即购买</div>
        </li>
        <li><img src="../../../assets/girls-img/sweet23.jpg">
          <div class="name">夏装新款衬衣宽松百搭小碎花...</div>
          <div class="price">￥67.00 </div>
          <div class="buy3">立即购买</div>
        </li>
        <li><img src="../../../assets/girls-img/sweet24.jpg">
          <div class="name">白色漏肩T恤女短袖韩范个性...</div>
          <div class="price">￥168.00 </div>
          <div class="buy3">立即购买</div>
        </li>
      </ul>
    </div>
      <div class="soft">
        <div class="col-md-12 title3">连衣裙+气质，都是属于你的夏日之美</div>
        <ul>
          <li>
            <img src="../../../assets/girls-img/sweet17.jpg">
            <div class="name">文艺清新系带收腰碎花雪纺连衣裙...</div>
            <div class="price">￥149.00 </div>
            <div class="buy3">立即购买</div>

          </li>

          <li><img src="../../../assets/girls-img/sweet18.jpg">
            <div class="name">清新荷叶边碎花雪纺吊带...</div>
            <div class="price">￥109.00 </div>
            <div class="buy3">立即购买</div>
          </li>
          <li><img src="../../../assets/girls-img/sweet19.jpg">
            <div class="name"> 不对称荷叶边雪纺衫女短袖...</div>
            <div class="price">￥59.00 </div>
            <div class="buy3">立即购买</div>
          </li>
          <li><img src="../../../assets/girls-img/sweet20.jpg">
            <div class="name">柔美雪纺衫显瘦V领雪纺上...</div>
            <div class="price">￥49.00 </div>
            <div class="buy3">立即购买</div>
          </li>
        </ul>
        <div class="col-md-12 title3">女神+气质搭 飘成初恋的形状</div>
        <ul>
          <li>
            <img src="../../../assets/girls-img/sweet21.jpg">
            <div class="name">小清新仙气裙子女收腰...</div>
            <div class="price">￥143.00 </div>
            <div class="buy3">立即购买</div>

          </li>

          <li><img src="../../../assets/girls-img/sweet22.jpg">
            <div class="name">露肩雪纺连衣裙女夏...</div>
            <div class="price">￥158.00 </div>
            <div class="buy3">立即购买</div>
          </li>
          <li><img src="../../../assets/girls-img/sweet23.jpg">
            <div class="name">夏装新款衬衣宽松百搭小碎花...</div>
            <div class="price">￥67.00 </div>
            <div class="buy3">立即购买</div>
          </li>
          <li><img src="../../../assets/girls-img/sweet24.jpg">
            <div class="name">白色漏肩T恤女短袖韩范个性...</div>
            <div class="price">￥168.00 </div>
            <div class="buy3">立即购买</div>
          </li>
        </ul>
      </div>

    </div>
</div>
