<div class="boy">
<div class="boys-big">
  <img class="img-responsive" src="http://localhost:3000/images/boys-img/boys-big1.jpg">
</div>
  <a id="title" class="col-md-12"></a>
  <div class=" navbar  newNav" >
    <ul class=" nav navbar-nav" id="fix">
      <li class="active" (click)="show(sunny,0,8)"><a >阳光搭</a></li>
      <li  (click)="show(youngs,9,8)"><a>文艺搭</a></li>
      <li (click)="show(mature,16,8)"><a>成熟搭</a></li>
      <li style="border: none;" (click)="show(chao,24,8)"><a >帅气搭</a></li>
    </ul>
  </div>
  <div class="container">
    <div class="sunny" >
      <div  *ngFor="let item of url2" class="col-md-12 title1">{{item}}</div>
      <div *ngFor="let item of url3" class="col-md-10 col-md-push-2 title2">{{item}}</div>

      <ul class="col-md-12 cloth">
        <li *ngFor="let item of shows"><a (click)="godetail(item.goodsid)"><img src="http://localhost:3000/images/{{item.goodspic}}" alt=""></a>
        <div *ngFor="let item of url4" class="buy1"><a>{{item}}</a></div>
        </li>
      </ul>
    </div>
  </div>
</div>
