<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div id="comment_head">
        <span id="shine_id">E-shine支付</span>
        <span id="slide_id">
          <ul>
            <li class="slideCircle" id="slideCircle_id" >1
              <p class="pur">购物车</p></li>
            <li class="slideLine" id="slideLine_id"></li>
            <li class="slideLine" id="slideLine_id1"></li>
            <li class="slideCircle" id="slideCircle_id1">2
              <p class="pur">确认订单</p>
            </li>
            <li class="slideLine" id="slideLine_id2"></li>
            <li class="slideLine"></li>
            <li class="slideCircle">3
              <p class="pur">支付</p>
            </li>
            <li class="slideLine"></li>
            <li class="slideLine"></li>
            <li>
            <img  class="slideCircle1" src="../../../assets/shopping_images/pay_images/gouzi.png" height="48" width="48"/>
              <p class="pur">&nbsp;&nbsp;&nbsp;&nbsp;完成</p>
            </li>
          </ul>
        </span>
      </div>
      <div id="con_id" class="con">

  <div id="confirm_address_id">选择收货地址</div>

    <div class="name_add">
      <ul class="information">
        <li class="name">樊苏琪
        </li>
        <li>----------------------------------</li>
        <li class="address">
          江西科技师范大学红角洲校区学府大道589号
        </li>
        <li class="choice_place">江西省南昌市新建县城</li>
        <li class="telephone">15797717014</li>
        <a id="editor">编辑</a>
        <li><img id="dagou" src="../../../assets/shopping_images/pay_images/dagou.png" height="35" width="35"/></li>
      </ul>
    </div>

  <div class="manage_address">
    <ul id="manage_address_id" >
      <li><a href="../personal-center.component.html">管理收货地址</a></li>
      <li><a id="useAddress">使用新地址</a>
      </li>
    </ul>
  </div>


  <div id="center_hidden_id" class="center_hidden">
      <div class="main_address">
        <ul>
          <li>
            <p  class="province">省:
              <span class="xinghao">*</span>
            </p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <select type="text" id="province_id" onchange="choise()">
              <option>请选择</option>
            </select>
          </li>
          <li>
            市：&nbsp;&nbsp;
            <select type="text" id="city_id"><option>请选择</option></select>
          </li>
          <li>
            区：&nbsp;&nbsp;
            <select type="text" id="area_id"><option>请选择</option></select>
          </li>
        </ul>
      </div>

      <ul class="postMail">
        <li class="postMail1">邮政编码:<span class="xinghao">*</span></li>
        <li>
          <input class="com_put" id="postMail_id" type="text">
        </li>
        <li id="confirm_postMail_id"></li>
      </ul>

      <ul class="street_address">
        <li class="street_address1">街道地址:<span class="xinghao">*</span></li>
        <li>
          <input class="com_put1" id="street_address_id" type="text">
        </li>
      </ul>
    <div class="address_tip">请填写街道地址，至少5个字</div>

      <ul class="consignee_name">
        <li class="consignee_name1">收货人姓名:<span class="xinghao">*</span></li>
        <li>
          <input  class="com_put" id="consignee_name_id" type="text">
        </li>
        <li id="confirm_name_id"></li>
      </ul>

      <ul class="consignee_tel">
        <li class="consignee_tel1">手机:<span class="xinghao">*</span></li>
        <li>
          <input class="com_put" id="consignee_tel_id" type="text">
        </li>
        <li id="confirm_tel_id"></li>
      </ul>

    <ul class="cancel_address">
      <input id="cancel_address_id" type="button" value="确认地址">
      <input id="cancel_address_id1" type="button" value="取消">
    </ul>

      </div>

  <div class="bottom">
    <p>确认商品信息</p>
    <ul class="title_goods">
      <li class="first_goods">商品</li>
      <li>商品信息</li>
      <li>单价(元)</li>
      <li>数量</li>
      <li>小计(元)</li>
    </ul>
    <ul class="center_goods">
      <span class="goods_picture">
      <img src="../../../assets/personal_images/1439880982560.jpg" height="80" width="80"/>
        <a class="name_good">潮流时尚小清新非主流</a>
      </span>
      <li class="size_goods">尺码</li>
      <li>34.00</li>
      <li class="number_goods">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1</li>
      <li>2948</li>
    </ul>
    <ul class="center1_goods">
      <li class="beizhu">
        <p id="beizhu_id">备注：</p>
          <input class="beizhu_put" type="text" placeholder="补充填写其它信息，如有快递不到也请备注">
      </li>
      <li>快递公司:全国包邮</li>
      <li class="money_goods">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;快递运费:<span>345.00</span></li>
    </ul>
    <p class="total_goods">合计:<span>357</span></p>
    <ul class="bottom_goods">
      <a>返回购物车</a>
      <li>共有一件商品</li>
      <span class="summary">总计：<span>345.00</span></span>
      <input type="button" value="确认并付款" (click)="pay()" class="btn_goods">
    </ul>
  </div>


    </div>




    </div>
    </div>
  </div>


