body{
  background-color:lightpink;
}
.container{
  width:1350px;
  background-color:#F2F2F2;
}

#comment_head{
  width:1385px;
  height:80px;
  background-color:#F2F2F2;
  margin-left:-12px;
  margin-top:-18px;
  border-bottom:1px solid rgba(176, 176, 176, 0.33);
}
#shine_id{
  margin-left:109px;
  width:576px;
  line-height: 80px;
  font-size: 24px;
  float: left;
}
#slide_id{
  float:left;
}
#comment_head li{
  float: left;
  margin-left:0px;

  color: #FDFDFB;
}
.slideCircle{
  width:24px;
  height:24px;
  margin-top:20px;
  text-align: center;
  padding-top:3px;
  border-radius:12px;
  background-color: rgba(176, 176, 176, 0.5);
}
.slideCircle1{
  width:24px;
  height:24px;
  margin-top:20px;
  text-align: center;
  padding-top:-20px;
  padding-left:-70px;
  border-radius:12px;
  background-color: rgba(176, 176, 176, 0.5);
}
#slideCircle_id,#slideCircle_id1,#slideLine_id,#slideLine_id1,#slideLine_id2{
  background-color: #ff1611;
}
.pur{
  width:60px;
  height:30px;
  color: #ff1611;
  margin-left:-15px;
  margin-top:6px;
}
.slideLine{
  width:70px;
  height:3px;
  margin-top:30px;
  background-color: rgba(176, 176, 176, 0.51);
}


.con{
  width:1130px;
  min-height:813px;
  margin-left: auto;
  margin-right: auto;
  margin-top:0px;
  background-color:white;
}
.xinghao{
  color: red;
}
.province{
  float: left;
}

#confirm_address_id{
  height:30px;
  margin-left:40px;
  padding-top:20px;
  padding-bottom:20px;
}
.name_add{
  box-shadow:0px 0px 3px 2px rgba(9, 4, 4, 0.64);
  width:280px;
  height:200px;
  margin-left:40px;
  margin-top:15px;
  position: relative;
}
.name{
  margin-top:8px;

}
#kuang{
  width:1000px;
  height:200px;
}
ul{
  list-style: none;
}
.information{
  width:280px;
  height:200px;
  background-color: #ffffff;
  float: left;
  padding-left:-20px;

}
.name_add ul li{
  padding-top:3px;
  margin-left:-20px;
  height:27px;

}
#editor{
  margin-left:160px;
}
#dagou,#dagou1{
  margin-left:225px;
  position: absolute;
  bottom:0;
  right:0
}

#manage_address_id{
  width:400px;
  height:40px;
  clear: both;
}
.manage_address ul li{
  float: left;
  margin-left:38px;
  margin-top:5px;

}
.manage_address a{
  text-decoration: none;
  font-size:14px;
  color: black;
}

.center_hidden{
  width:1000px;
  height:420px;
  margin-top:-30px;
  clear: both;
}


.main_address{
  width:800px;
  height:40px;
  margin-top:40px;
  margin-bottom:20px;
}
.main_address li{
  float: left;
  margin-left:39px;
}
.main_address li select{
  width:100px;
  height:30px;
}

.postMail{
  height:60px;
  width:600px;
}
.postMail li{
  float: left;
  width:100px;
  height: 50px;
}
#confirm_postMail_id,#confirm_name_id,#confirm_tel_id{
  margin-left:140px;
  line-height:30px;
  width:200px;
  height:30px;
}

.xinghao{
  color: #ff1611;
}
.com_put{
  width:200px;
  height:30px;
}
.com_put1{
  width:400px;
  height:70px;
}

.street_address{
  height:80px;
  width:600px;
}
.street_address li{
  float: left;
  width:100px;
  height:40px;
}
.address_tip{
  color:grey;
  margin-left:150px;
  margin-bottom: 20px;
}

.consignee_name{
  height:40px;
  width:600px;
}
.consignee_name li{
  float: left;
  width:100px;
  height:40px;
}

.consignee_tel{
  height:40px;
  width:600px;
}
.consignee_tel li{
  float: left;
  width:100px;
  height:40px;
}

.cancel_address{
  height:40px;
  width:600px;
}
.cancel_address li{
  float: left;
  width:100px;
  height: 50px;
}

.cancel_address_id{
  width:150px;
  height:40px;
  margin-left:100px;
  margin-top:15px;
  border:1px solid grey;
  background-color: #FDFDFB;
}
.cancel_address_id,#cancel_address_id1:hover{
  background-color:orange;
}
#cancel_address_id:hover{
  color: #FDFDFB;
}
#cancel_address_id1:hover{
  background-color: #ffc0cb;
  color: #FDFDFB;
}
#cancel_address_id1{
  width:150px;
  height:40px;
  margin-left:40px;
  background-color: #FDFDFB;
  border:1px solid grey;
}
.miss{width:150px;
  color: rgba(255, 0, 0, 0.58);
  margin-left: 150px;
}
a{cursor: pointer;}

.bottom{
  width:1060px;
  margin-left: auto;
  margin-right: auto;
}
.title_goods{
  width:1060px;
  height:40px;
  line-height:40px;
  border-top:1px solid gainsboro;
  border-bottom:1px solid gainsboro;
  margin-bottom:40px;
}
.title_goods li{
  float:left;
  margin-left:130px;
}
.first_goods{
 width:160px;
  height:40px;
}
.center_goods{
  width:1060px;
  height:100px;
  line-height:100px;
  border-top:1px solid gainsboro;
  border-bottom:1px solid gainsboro;
  background-color:#F2F2F2;
}
.goods_picture{
  float:left;
  width:305px;
  height:60px;
}
.name_good{
  margin-left:45px;
}
.size_goods{
  width:50px;
  height:40px;
}
.number_goods{
  width:50px;
  height:40px;
}
.center_goods li{
  float:left;
  margin-left:129px;
}
.center1_goods{
  width:1060px;
  height:40px;
  line-height:40px;
  margin-top:-10px;
  border-bottom:1px solid gainsboro;
  background-color:#F2F2F2;
}
.center1_goods li{
  float:left;
}
.beizhu{
  width:700px;
}
#beizhu_id{
  float: left;
  width:50px;
  height:40px;

}
.money_goods{
  float:left;
}
.total_goods{
  width:1060px;
  height:60px;
  line-height:60px;
  margin-top:-10px;
  background-color:#F2F2F2;
}
.beizhu_put{
  float:left;
  margin-top:6px;
  width:350px;
  height:25px;
}
.bottom_goods{
  width:1060px;
  height:60px;
  border-top:1px solid gainsboro;
  border-bottom:1px solid gainsboro;
  margin-top:40px;
}
.summary{
  float:left;
  margin-left:15px;
  margin-top:17px;

}
.bottom_goods a{
  float:left;
  margin-left:10px;
  width:700px;
  margin-top:17px;
}
.bottom_goods li{
  float:left;
  margin-left:10px;
  margin-top:17px;
}
.btn_goods{
  border:none;
  width:90px;
  height:30px;
  margin-top:13px;
  background-color:yellow;
  margin-left:20px;
}








